$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
@media (max-width: $xxl) {
    .headerBack {
        .box {
        }
        .container-fluid {
            #info {
                p {
                    font-size: 10px !important;
                }
                a {
                    font-size: 10px !important;
                }
                .contactTwo {
                }
                .contactOne,
                .time {
                    width: 100% !important;
                }
                .locate {
                    width: 100% !important;
                }
                .mail {
                    place-content: end !important;
                    width: 100% !important;
                }
                .time {
                    width: 100% !important;
                }
                .tel {
                    place-content: end !important;
                    .boxTwo {
                    }
                }
                p {
                }
                img {
                }
                a {
                }
            }
        }
    }
    .sectionOne {
        .container {
            .row {
                .firstCard {
                    padding: 16px 40px !important;
                    .cardInside {
                        .imgAndHood {
                            img {
                                width: 45px !important;
                            }
                            p {
                                margin-left: 25px !important;
                            }
                        }
                        .text {
                            p {
                            }
                        }
                    }
                }
                .secondCard {
                    padding: 16px 40px !important;
                    .cardInside {
                        .imgAndHood {
                            img {
                                width: 45px !important;
                            }
                            p {
                                margin-left: 25px !important;
                            }
                        }
                        .text {
                            p {
                            }
                        }
                    }
                }
                .thirtCard {
                    padding: 16px 40px !important;
                    .cardInside {
                        .imgAndHood {
                            img {
                                width: 45px !important;
                            }
                            p {
                                margin-left: 25px !important;
                            }
                        }
                        .text {
                            p {
                            }
                        }
                    }
                }
            }
        }
    }

    .sectionTwo {
        background-size: 550px 450px !important;
        .container {
            .row {
                align-items: center !important;
                .hoodS {
                }
                .hoodB {
                    .hoodBTwo {
                    }
                }
                .text {
                }
                .textTwo {
                }
                .textThree {
                }
                .bigImage {
                }
            }
        }
    }

    .sectionFour {
        .container {
            padding-bottom: 150px !important;
            .row {
                .InfoCard {
                    padding: 30px 20px !important;
                    .w-25 {
                        text-align: left !important;
                    }
                    .hood {
                        font-size: 28px !important;
                    }
                    .hoodTwo {
                        font-size: 16px !important;
                    }
                    a {
                        padding: 10px 30px !important;
                    }
                }
            }
        }
        .whatOurClientSays {
            .row {
                .whatOurClientSaysImg {
                    img {
                    }
                }
                .whatOurClientSaysText {
                    .hoodArea {
                        .hoodS {
                        }
                        .hoodB {
                            font-size: 36px !important;
                            .hoodBTwo {
                            }
                        }
                        .textArea {
                            .text {
                                font-size: 22px !important;
                                line-height: 34px !important;
                            }
                            img {
                            }
                            .name {
                            }
                            .place {
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        .container {
            .firstArea {
                .hood {
                }
                .mailArea {
                    img {
                    }
                    p {
                    }
                }
                .telArea {
                    a {
                        img {
                        }
                        font-size: 24px !important;
                    }
                }
            }
            .secondArea {
                .logoAndTextArea {
                    padding-right: 88px !important;
                    img {
                    }
                    p {
                    }
                }
                .FooterMenu {
                    p {
                    }
                }
                .informationArea {
                    .locationArea {
                        img {
                        }
                    }
                    .locationText {
                        .iconOne {
                        }
                        .iconTwo {
                        }
                        p {
                        }
                    }
                }
            }
        }
    }

    /////// aboutus.php ////////
    .aboutUsSTwo {
        .container-fluid {
            .row {
                .firstArea {
                    padding-left: 13% !important;
                    .textArea {
                        .hoodOne {
                            .hoodBold {
                            }
                        }
                        .text {
                        }
                        button {
                            img {
                            }
                        }
                    }
                }
                .secondArea {
                    .blueArea {
                        p {
                        }
                        .name {
                        }
                    }
                }
            }
        }
    }
    /////// aboutus.php ////////

    .items {
        .container {
            .row {
                .col-md-6 {
                    .card {
                        width: 100% !important;
                        .cardHoodArea {
                            img {
                            }
                            p {
                            }
                        }
                        .textAndButton {
                            p {
                            }
                            button {
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $xl) {
    header {
        .overly {
        }
        video {
        }
        .content {
            .hood {
                font-size: 46px !important;
                line-height: 42px !important;
            }
            .hoodTwo {
                margin-bottom: 40px !important;
                font-size: 24px !important;
                line-height: 28px !important;
            }
            .HeaderButtons {
                .BookOfButton {
                }
                .ContactButton {
                }
            }
        }
    }
    .sectionOne {
        .container {
            .row {
                .firstCard {
                    padding: 16px 30px !important;
                    .cardInside {
                        .imgAndHood {
                            img {
                                width: 40px !important;
                            }
                        }
                        p {
                            font-size: 18px !important;
                            line-height: 22px !important;
                            margin-left: 10px !important;
                        }
                    }
                    .text {
                        p {
                            font-size: 16px !important;
                            margin-left: 0px !important;
                            line-height: 20px !important;
                        }
                    }
                }
                .secondCard {
                    padding: 16px 30px !important;
                    .cardInside {
                        .imgAndHood {
                            img {
                                width: 40px !important;
                            }
                            p {
                                font-size: 17px !important;
                                line-height: 22px !important;
                                margin-left: 10px !important;
                            }
                        }
                        .text {
                            p {
                                font-size: 15px;
                                margin-left: 0px;
                                line-height: 20px;
                            }
                        }
                    }
                }
                .thirtCard {
                    padding: 16px 30px !important;
                    border-radius: 20px !important;
                    .cardInside {
                        .imgAndHood {
                            img {
                                width: 40px !important;
                            }
                            p {
                                font-size: 18px !important;
                                line-height: 22px !important;
                                margin-left: 10px !important;
                            }
                        }
                        .text {
                            p {
                                font-size: 15px;
                                margin-left: 0px;
                                line-height: 18px;
                            }
                        }
                    }
                }
            }
        }
    }

    .sectionTwo {
        padding-top: 20px !important;
        background-size: 550px 450px !important;
        .container {
            .row {
                .hoodS {
                }
                .hoodB {
                    .hoodBTwo {
                    }
                }
                .text {
                }
                .textTwo {
                }
                .textThree {
                }
                .bigImage {
                }
            }
        }
    }

    .sectionThree {
        .textArea {
            .row {
                .hoodS {
                }
                .hoodB {
                    font-size: 28px !important;
                    .hoodBTwo {
                    }
                }
                .text {
                }
            }
        }
        .columns {
            .owl-carousel {
                .owl-item {
                }
                .item {
                    .card {
                        height: 290px !important;
                        .sliderIcon {
                            height: 55px !important;
                            width: 55px !important;
                        }
                        .card-body {
                            .card-title {
                            }
                            a {
                                padding: 10px 30px !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .sectionFour {
        .container {
            .row {
                .InfoCard {
                    .hood {
                        font-size: 24px !important;
                    }
                    .hoodTwo {
                        font-size: 14px !important;
                    }
                    a {
                        padding: 10px 30px !important;
                    }
                }
            }
        }
        .whatOurClientSays {
            .row {
                .whatOurClientSaysImg {
                    img {
                    }
                }
                .whatOurClientSaysText {
                    .hoodArea {
                        .hoodS {
                        }
                        .hoodB {
                            font-size: 32px !important;
                            .hoodBTwo {
                            }
                        }
                        .textArea {
                            .text {
                                line-height: 28px !important;
                                font-size: 18px !important;
                            }
                            img {
                                margin-top: 12px !important;
                            }
                            .name {
                                font-size: 18px !important;
                            }
                            .place {
                                font-size: 14px !important;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        .container {
            .firstArea {
                .hood {
                }
                .mailArea {
                    img {
                    }
                    p {
                    }
                }
                .telArea {
                    a {
                        font-size: 18px !important;
                        img {
                            width: 20px !important;
                        }
                    }
                }
            }
            .secondArea {
                .logoAndTextArea {
                    padding-right: 88px !important;
                    img {
                    }
                    p {
                    }
                }
                .FooterMenu {
                    p {
                    }
                }
                .informationArea {
                    .locationArea {
                        img {
                        }
                    }
                    .locationText {
                        padding-right: 0px !important;
                        .iconOne {
                        }
                        .iconTwo {
                        }
                        p {
                        }
                    }
                }
            }
        }
    }

    //////// contactus.php /////////

    body {
        .contactUs {
            .hoodArea {
                .line {
                }
                .hoodB {
                }
                .hoodS {
                }
            }
        }
        .formArea {
            .container {
                .row {
                    .firstArea {
                        .hoodB {
                        }
                        .text {
                            font-size: 16px;
                        }
                    }
                    .secondArea {
                        p {
                            font-size: 16px;
                        }
                        img {
                            height: auto;
                            width: auto;
                        }
                        a {
                            font-size: 16px;
                        }
                    }
                    .formArea {
                        .hoodArea {
                            .hoodS {
                            }
                            .hoodB {
                                .hoodBTwo {
                                }
                            }
                        }
                        form {
                            .inputArea {
                                input {
                                    &:focus {
                                    }
                                }
                            }
                            .mailArea {
                                textarea {
                                }
                            }
                        }
                    }
                }
            }
        }
        .contactUsArea {
            .container {
                .row {
                    .textArea {
                        p {
                        }
                        .hoodB {
                            font-size: 26px !important;
                        }
                        .hoodS {
                            font-size: 18px !important;
                            a {
                            }
                        }
                    }
                    .contactButtonArea {
                        a {
                        }
                    }
                }
            }
        }
    }
    //////// contactus.php /////////

    .aboutUsMainArea {
        .aboutus {
            background-image: url("../img/contactBgDown.png");
            background-size: 100% 100%;
            height: 100%;
            position: relative;
            .hoodArea {
                position: absolute;
                text-align: center;
                text-align: -moz-center !important;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
                text-align: -webkit-center;
                .line {
                    text-align: center;
                    text-align: -moz-center !important;
                    height: 6px;
                    background-color: #0067ed;
                    width: 250px;
                    margin-bottom: 10px;
                }
                .hoodB {
                    font-weight: 900;
                    font-size: 54px;
                    color: white;
                    line-height: 58px;
                    margin: 0px;
                }
                .hoodS {
                    color: white;
                    font-size: 26px;
                    margin-top: 20px;
                }
            }
        }
        .aboutUsSOne {
            .container {
                margin-top: 150px;
                margin-bottom: 150px;
                .row {
                    .textArea {
                        margin-top: -72px;
                        .hoodS {
                            font-size: 18px;
                            color: #0067ed;
                            margin: 0px;
                        }
                        .hoodB {
                            font-size: 34px;
                            margin: 0px;
                        }
                        .hoodBTwo {
                            font-size: 34px;
                            color: #0067ed;
                            font-weight: 700;
                            margin: 0px;
                        }
                        .text {
                            font-size: 14px;
                            margin: 0px;
                        }
                    }
                }
            }
        }
        .aboutUsSTwo {
            .container-fluid {
                .row {
                    .firstArea {
                        padding-left: 10% !important;
                        .textArea {
                            .hoodOne {
                                .hoodBold {
                                }
                            }
                            .text {
                            }
                            button {
                                img {
                                }
                            }
                        }
                    }
                    .secondArea {
                        .blueArea {
                            p {
                            }
                            .name {
                            }
                        }
                    }
                }
            }
        }
    }
    /////// aboutus.php ////////

    .staffArea {
        .container-fluid {
            .row {
                .hoodArea {
                    .hoodS {
                        text-align: center !important;
                        text-align: -moz-center !important;
                    }
                    .hoodB {
                        font-size: 32px !important;
                        text-align: center !important;
                        text-align: -moz-center !important;
                    }
                    .hoodBTwo {
                        font-size: 32px !important;
                        text-align: center !important;
                        text-align: -moz-center !important;
                    }
                }
                .imgArea {
                    .position {
                        font-size: 16px !important;
                        text-align: center !important;
                        text-align: -moz-center !important;
                    }
                    .name {
                        font-size: 18px !important;
                        text-align: center !important;
                        text-align: -moz-center !important;
                    }
                }
            }
        }
    }
    /////// aboutus.php ////////
}

@media (max-width: $lg) {
    .container {
        .navbar {
            padding-bottom: 0px !important;
            img {
                width: 140px !important;
            }
            button {
                span {
                }
            }
            .collapse {
                ul {
                    li {
                        p {
                        }
                    }
                }
            }
            form {
                margin-bottom: 0px !important;

                p {
                    margin-bottom: 10px !important;
                }
                a {
                    &:hover {
                    }
                }
            }
        }
    }
    header {
        margin-top: 56px !important;
        height: 94vh !important;
        .overly {
        }
        video {
        }
        .content {
            .hood {
            }
            .hoodTwo {
            }
            .HeaderButtons {
                .BookOfButton {
                }
                .ContactButton {
                }
            }
        }
    }
    .sectionOne {
        padding-bottom: 0px !important;
        .container {
            .row {
                margin-top: 0px !important;
                padding: 30px 0px !important;
                .firstCard {
                    padding: 16px 40px !important;
                    .cardInside {
                        .imgAndHood {
                            img {
                            }
                        }
                        p {
                        }
                    }
                    .text {
                        p {
                        }
                    }
                }
                .secondCard {
                    padding: 16px 40px !important;
                    .cardInside {
                        .imgAndHood {
                            img {
                            }
                            p {
                            }
                        }
                        .text {
                            p {
                            }
                        }
                    }
                }
                .thirtCard {
                    padding: 16px 40px !important;
                    .cardInside {
                        .imgAndHood {
                            img {
                            }
                            p {
                            }
                        }
                        .text {
                            p {
                            }
                        }
                    }
                }
            }
        }
    }
    .sectionTwo {
        padding-bottom: 50px !important;
        background-position-y: bottom !important;
        background-size: 650px 450px !important;
        .container {
            .row {
                .hoodS {
                }
                .hoodB {
                    .hoodBTwo {
                    }
                }
                .text {
                }
                .textTwo {
                }
                .textThree {
                }
                .bigImage {
                    margin-top: 0px !important;
                    img {
                        width: 100% !important;
                        height: 100% !important;
                    }
                }
            }
        }
    }

    .sectionThree {
        .textArea {
            .row {
                .hoodS {
                    font-size: 14px !important;
                }
                .hoodB {
                    font-size: 24px !important;
                    .hoodBTwo {
                    }
                }
                .text {
                    font-size: 12px !important;
                }
            }
        }
        .columns {
            .owl-carousel {
                .owl-item {
                }
                .item {
                    .card {
                        height: 280px !important;
                        .sliderIcon {
                        }
                        .card-body {
                            .card-title {
                            }
                            a {
                            }
                        }
                    }
                }
            }
        }
    }
    .sectionFour {
        .container {
            padding-bottom: 50px !important;
            .row {
                .InfoCard {
                    padding: 50px 30px !important;
                    .w-25 {
                        text-align: center !important;
                        text-align: -moz-center !important;
                    }
                    .hood {
                        font-size: 18px !important;
                    }
                    .hoodTwo {
                    }
                    a {
                        font-size: 14px !important;
                        padding: 10px 20px !important;
                    }
                }
            }
        }
        .whatOurClientSays {
            .row {
                .whatOurClientSaysImg {
                    img {
                        width: 100%;
                        margin-top: 20px !important;
                        margin-right: 0px !important;
                    }
                }
                .whatOurClientSaysText {
                    .hoodArea {
                        .hoodS {
                        }
                        .hoodB {
                            .hoodBTwo {
                            }
                        }
                        .textArea {
                            .text {
                            }
                            img {
                            }
                            .name {
                            }
                            .place {
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        .container {
            .firstArea {
                .col-12 {
                    margin-bottom: 20px !important;
                }
                .hood {
                }
                .mailArea {
                    place-content: center;
                    img {
                    }
                    p {
                    }
                }
                .telArea {
                    a {
                        img {
                        }
                    }
                }
            }
            .secondArea {
                .logoAndTextArea {
                    padding: 0px !important;
                    img {
                    }
                    p {
                    }
                }
                .FooterMenu {
                    place-content: space-evenly;
                    p {
                    }
                }
                .informationArea {
                    .locationArea {
                        img {
                        }
                    }
                    .locationText {
                        padding-left: 0px !important;
                        .iconOne {
                        }
                        .iconTwo {
                        }
                        p {
                        }
                    }
                }
            }
        }
    }
    //////// ContactUs.php ////////
    body {
        .contactUs {
            background-image: url("../img/Group97.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            .hoodArea {
                .line {
                }
                .hoodB {
                    font-size: 42px !important;
                    line-height: 48px !important;
                }
                .hoodS {
                }
            }
        }
        .formArea {
            .container {
                .row {
                    .firstArea {
                        padding-left: 10px !important;
                        padding: 20px 10px;
                        .hoodB {
                            text-align: center;
                            text-align: -moz-center !important;
                        }
                        .text {
                            text-align: center;
                            text-align: -moz-center !important;
                        }
                    }
                    .secondArea {
                        text-align: center;
                        text-align: -moz-center !important;
                        p {
                        }
                        img {
                        }
                        a {
                        }
                    }
                    .formAreaTwo {
                        .hoodArea {
                            .hoodS {
                                margin-top: 20px !important;
                                margin-bottom: 0px !important;
                            }
                            .hoodB {
                                .hoodBTwo {
                                }
                            }
                        }
                        form {
                            .inputArea {
                                input {
                                    &:focus {
                                    }
                                }
                            }
                            .mailArea {
                                textarea {
                                    margin: 10px 5px !important;
                                }
                            }
                            .buttonArea {
                                button {
                                }
                            }
                        }
                    }
                }
            }
        }
        .contactUsArea {
            .container {
                text-align: -webkit-center;
                text-align: -moz-center !important;

                .row {
                    .textArea {
                        text-align: center;
                        p {
                        }
                        .hoodB {
                            font-size: 24px !important;
                        }
                        .hoodS {
                            font-size: 16px !important;
                            line-height: 24px !important;
                            margin-top: 16px !important;
                            a {
                            }
                        }
                    }
                    .contactButtonArea {
                        margin-top: 30px !important;
                        a {
                        }
                    }
                }
            }
        }
    }
    //////// ContactUs.php ////////

    ////////////// aboutUs.php /////////
    .aboutUsMainArea {
        .aboutus {
            background-image: url("../img/tabletAboutus.png") !important;
            background-size: cover;
            .hoodArea {
                .line {
                }
                .hoodB {
                }
                .hoodS {
                }
            }
        }
        .aboutUsSOne {
            .container {
                .row {
                    .textArea {
                        .hoodS {
                        }
                        .hoodB {
                        }
                        .hoodBTwo {
                        }
                        .text {
                        }
                    }
                }
            }
        }
        .aboutUsSTwo {
            .container-fluid {
                .row {
                    .firstArea {
                        .textArea {
                            .hoodOne {
                                .hoodBold {
                                }
                            }
                            .text {
                            }
                            button {
                                img {
                                }
                            }
                        }
                    }
                    .secondArea {
                        .blueArea {
                            p {
                            }
                            .name {
                            }
                        }
                    }
                }
            }
        }
        .staffArea {
            margin-bottom: 50px !important;
            margin-top: 50px !important;
            .container-fluid {
                .row {
                    .hoodArea {
                        background-position: center center !important;
                        .hoodS {
                            text-align: center !important;
                            text-align: -moz-center !important;
                        }
                        .hoodB {
                            font-size: 32px !important;
                            text-align: center !important;
                            text-align: -moz-center !important;
                        }
                        .hoodBTwo {
                            font-size: 32px !important;
                            text-align: center !important;
                            text-align: -moz-center !important;
                        }
                    }
                    .imgArea {
                        .position {
                            font-size: 16px !important;
                            text-align: center !important;
                            text-align: -moz-center !important;
                        }
                        .name {
                            font-size: 18px !important;
                            text-align: center !important;
                            text-align: -moz-center !important;
                        }
                    }
                }
            }
        }
    }
    ////////////// aboutUs.php /////////

    ///////////// services.php /////////
    .services {
        .servicesHeader {
            background-image: url("../img/Group97.png");
            .hoodArea {
                .container {
                    .row {
                        .line {
                        }
                        .hoodB {
                        }
                        .hoodS {
                        }
                    }
                }
            }
        }
        .sectionFour {
            padding-top: 50px !important;
        }
        .items {
            .container {
                .row {
                    .card {
                        width: 100% !important;
                        .cardHoodArea {
                            img {
                            }
                            p {
                            }
                        }
                        .textAndButton {
                            p {
                            }
                            button {
                            }
                        }
                    }
                }
            }
        }
    }
    ///////////// services.php /////////
}

@media (max-width: $md) {
    //////// ContactUs.php ////////
    body {
        .contactUs {
            .hoodArea {
                .line {
                }
                .hoodB {
                }
                .hoodS {
                }
            }
        }
        .formArea {
            .container {
                .row {
                    margin: 0px !important;
                    padding: 0px !important;
                    padding-top: 20px !important;
                    .firstArea {
                        padding: 20px 20px !important;
                        .hoodB {
                            text-align: center !important;
                            text-align: -moz-center !important;
                        }
                        .text {
                            text-align: center !important;
                            text-align: -moz-center !important;
                        }
                    }
                    .secondArea {
                        margin-top: 20px !important;
                        padding: 40px 20px !important;

                        p {
                            text-align: center !important;
                            text-align: -moz-center !important;
                        }
                        img {
                        }
                        a {
                            text-align: center !important;
                            text-align: -moz-center !important;
                        }
                    }
                    .formAreaTwo {
                        .hoodArea {
                            margin-top: 40px !important;
                            .hoodS {
                                margin-bottom: 0px !important;
                            }
                            .hoodB {
                                .hoodBTwo {
                                    margin-top: 0px !important;
                                }
                            }
                        }
                        form {
                            .inputArea {
                                display: block !important;
                                input {
                                    width: 100% !important;
                                    margin: 0px !important;
                                    margin-bottom: 10px !important;
                                    margin-top: 10px !important;
                                    &:focus {
                                    }
                                }
                            }
                            .mailArea {
                                textarea {
                                    margin: 0px !important;
                                    margin-top: 10px !important;
                                    width: 100%;
                                }
                            }
                            .buttonArea {
                                margin-left: 0px !important;
                                margin-right: 0px !important;
                                button {
                                }
                            }
                        }
                    }
                }
            }
        }
        .contactUsArea {
            background-repeat: no-repeat;
            background-origin: revert;
            background-size: cover;
            background-position: top;
            .container {
                text-align: -webkit-center;
                .row {
                    .textArea {
                        p {
                        }
                        .hoodB {
                            font-size: 20px !important;
                        }
                        .hoodS {
                            font-size: 14px !important;
                            a {
                            }
                        }
                    }
                    .contactButtonArea {
                        text-align: center;
                        text-align: -moz-center !important;
                        margin-top: 24px !important;
                        a {
                        }
                    }
                }
            }
        }
    }
    //////// ContactUs.php ////////

    /////// aboutus.php ////////
    .aboutUsMainArea {
        .aboutus {
            .hoodArea {
                .line {
                }
                .hoodB {
                }
                .hoodS {
                }
            }
        }
        .aboutUsSOne {
            .container {
                .row {
                    .textArea {
                        margin-top: 20px !important;
                        .hoodS {
                        }
                        .hoodB {
                        }
                        .hoodBTwo {
                            margin-bottom: 10px !important;
                        }
                        .text {
                        }
                    }
                }
            }
        }
        .aboutUsSTwo {
            .container-fluid {
                .row {
                    .firstArea {
                        background-position: center center !important;
                        .textArea {
                            .hoodOne {
                                .hoodBold {
                                }
                            }
                            .text {
                            }
                            button {
                                img {
                                }
                            }
                        }
                    }
                    .secondArea {
                        background-position: center center !important;
                        .blueArea {
                            p {
                            }
                            .name {
                            }
                        }
                    }
                }
            }
        }
    }
    /////// aboutus.php ////////

    ////// services.php ///////
    .services {
        .servicesHeader {
            .hoodArea {
                .container {
                    .row {
                        .line {
                        }
                        .hoodB {
                        }
                        .hoodS {
                        }
                    }
                }
            }
        }
        .items {
            .container {
                .row {
                    .card {
                        .cardHoodArea {
                            img {
                            }
                            p {
                            }
                        }
                        .textAndButton {
                            p {
                            }
                            button {
                            }
                        }
                    }
                }
            }
        }
        .sectionFour {
            padding-top: 50px !important;
        }
        .prices {
            .container {
                .row {
                    .pricesHoods {
                        .hoodS {
                        }
                        .hoodB {
                        }
                    }
                    .pricesArea {
                        .textArea {
                            p {
                            }
                        }
                    }
                }
            }
        }
    }
    ////// services.php ///////
}

@media (max-width: $sm) {
    footer {
        .container {
            .firstArea {
                .hood {
                }
                .mailArea {
                    img {
                    }
                    p {
                    }
                }
                .telArea {
                    a {
                        img {
                        }
                    }
                }
            }
            .secondArea {
                .logoAndTextArea {
                    img {
                    }
                    p {
                    }
                }
                .FooterMenu {
                    p {
                        a {
                            &:hover {
                            }
                        }
                    }
                }
                .informationArea {
                    .locationArea {
                        img {
                        }
                    }
                    .locationText {
                        .iconOne {
                        }
                        .iconTwo {
                        }
                        p {
                        }
                    }
                }
            }
        }
    }
    //////// ContactUs.php ////////
    body {
        .contactUs {
            .hoodArea {
                width: 300px !important;
                .line {
                    width: 160px !important;
                }
                .hoodB {
                    font-size: 32px !important;
                    line-height: 36px !important;
                }
                .hoodS {
                    font-size: 16px !important;
                }
            }
        }
        .formArea {
            .container {
                .row {
                    padding: 10px !important;
                    .firstArea {
                        .hoodB {
                        }
                        .text {
                        }
                    }
                    .secondArea {
                        p {
                        }
                        img {
                        }
                        a {
                        }
                    }
                    .formAreaTwo {
                        .hoodArea {
                            .hoodS {
                            }
                            .hoodB {
                                .hoodBTwo {
                                }
                            }
                        }
                        form {
                            .inputArea {
                                input {
                                    &:focus {
                                    }
                                }
                            }
                            .mailArea {
                                textarea {
                                }
                            }
                            .buttonArea {
                                button {
                                }
                            }
                        }
                    }
                }
            }
        }
        .contactUsArea {
            .container {
                .row {
                    .textArea {
                        p {
                        }
                        .hoodB {
                        }
                        .hoodS {
                            a {
                            }
                        }
                    }
                    .contactButtonArea {
                        a {
                        }
                    }
                }
            }
        }
    }
    //////// ContactUs.php ////////

    //////// aboutus.php /////////

    .aboutUsMainArea {
        .aboutus {
            .hoodArea {
                width: 300px !important;
                .line {
                    width: 176px;
                }
                .hoodB {
                    font-size: 32px !important;
                    line-height: 36px !important;
                }
                .hoodS {
                    font-size: 16px !important;
                }
            }
        }
        .aboutUsSOne {
            .container {
                .row {
                    .textArea {
                        .hoodS {
                        }
                        .hoodB {
                        }
                        .hoodBTwo {
                        }
                        .text {
                        }
                    }
                }
            }
        }
        .aboutUsSTwo {
            .container-fluid {
                .row {
                    .firstArea {
                        .textArea {
                            .hoodOne {
                                .hoodBold {
                                }
                            }
                            .text {
                            }
                            button {
                                img {
                                }
                            }
                        }
                    }
                    .secondArea {
                        .blueArea {
                            p {
                            }
                            .name {
                            }
                        }
                    }
                }
            }
        }
        .staffArea {
            .container-fluid {
                .row {
                    .hoodArea {
                        .hoodS {
                        }
                        .hoodB {
                        }
                        .hoodBTwo {
                        }
                    }
                    .imgArea {
                        .position {
                        }
                        .name {
                        }
                    }
                }
            }
        }
    }
    .services {
        .servicesHeader {
            .hoodArea {
                .container {
                    .row {
                        width: 300px !important;
                        .line {
                            width: 130px !important;
                        }
                        .hoodB {
                            font-size: 32px !important;
                            line-height: 36px !important;
                        }
                        .hoodS {
                            font-size: 16px !important;
                        }
                    }
                }
            }
        }
        .items {
            .container {
                .row {
                    .card {
                        .cardHoodArea {
                            img {
                            }
                            p {
                            }
                        }
                        .textAndButton {
                            p {
                            }
                            button {
                            }
                        }
                    }
                }
            }
        }
        .prices {
            .container {
                .row {
                    .pricesHoods {
                        .hoodS {
                            font-size: 14px;
                        }
                        .hoodB {
                            font-size: 28px;
                        }
                    }
                    .pricesArea {
                        .textArea {
                            padding: 15px 20px;
                            p {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    header {
        .overly {
        }
        video {
        }
        .content {
            width: 350px !important;
            .hood {
                font-size: 32px !important;
                line-height: 36px !important;
            }
            .hoodTwo {
                font-size: 16px !important;
                margin: 0px 0px !important;
                margin-top: 20px !important;
            }
            .HeaderButtons {
                display: block !important;
                .BookOfButton {
                    margin: 20px 0px !important;
                }
                .ContactButton {
                    margin-left: 0px !important;
                }
            }
        }
    }
    footer {
        padding-top: 0px;
        background-image: url("../img/footer.png");
        color: white;
        .container {
            .firstArea {
                .hood {
                }
                .mailArea {
                    img {
                        width: 18px !important;
                        height: 12px;
                    }
                    p {
                        font-size: 14px !important;
                    }
                }
                .telArea {
                    a {
                        font-size: 12px !important;
                        img {
                            width: 14px !important;
                        }
                    }
                }
            }
            .secondArea {
                .logoAndTextArea {
                    img {
                    }
                    p {
                    }
                }
                .FooterMenu {
                    p {
                        a {
                            &:hover {
                            }
                        }
                    }
                }
                .informationArea {
                    .locationArea {
                        img {
                        }
                    }
                    .locationText {
                        .iconOne {
                        }
                        .iconTwo {
                        }
                        p {
                        }
                    }
                }
            }
        }
    }
    .items {
        .container {
            .row {
                .col-md-6 {
                    .card {
                        width: 100% !important;
                        .cardHoodArea {
                            img {
                            }
                            p {
                            }
                        }
                        .textAndButton {
                            p {
                            }
                            button {
                            }
                        }
                    }
                }
            }
        }
    }
    .sectionTwo {
        background-image: none !important;
        .container {
            .row {
                .hoodS {
                }
                .hoodB {
                    .hoodBTwo {
                    }
                }
                .text {
                }
                .textTwo {
                }
                .textThree {
                }
                .bigImage {
                    img {
                    }
                }
            }
        }
    }
}
