// @mixin border($gen, $tip, $renk) {
//     border-width: $gen;
//     border-style: $tip;
//     border-color: $renk;
// }
// .kutu {
//     height: 200px;
//     width: 200px;
//     float: left;
//     margin-right: 10px;
// }

// li:nth-child(1){
//     background-color: red;
//     font-size: 23px;
//     color: white;
//     &:hover {
//         color: red;
//         @extend .kutu;
//         @include border(4px, dashed,blue);
//     }
// }
// li:nth-child(2){
//     background-color: red;
//     font-size: 23px;
//     color: white;
//     &:hover {
//         color: red;
//         @extend .kutu;
//         @include border(4px, dashed, yellow);
//     }
// }
.active {
  color: rgb(0, 103, 237) !important;
  text-decoration: none;
}

@font-face {
  font-family: nunitoBold;
  src: url("./fonts/Nunito-ExtraBold.woff2");
  src: url("./fonts/Nunito-ExtraBold.woff");
  font-weight: bold;
}

@font-face {
  font-family: nunitoItalic;
  src: url("./fonts/Nunito-Italic.woff2");
  src: url("./fonts/Nunito-Italic.woff");
  font-weight: bold;
}

@font-face {
  font-family: nunitoBoldItalic;
  src: url("./fonts/Nunito-BoldItalic.woff2");
  src: url("./fonts/Nunito-BoldItalic.woff2");
  font-weight: bold;
}

.ContactusInputProperty {
  width: 50%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  margin: 10px;
  background-color: #f5faff;
  border: 0px;
  outline: 0px;
}
.place-content-center {
  place-content: center;
}
body {
  .specialNav {
    position: fixed;
    top: 0px;
    z-index: 9999;
    background-color: white;
    width: 100%;
    .headerBack {
      background-color: #1f2437;
      position: relative;
      .box {
        position: absolute;
        height: 35px;
        width: 100%;
        background-color: rgb(0, 103, 237);
        z-index: 1;
        top: 0px;
        width: 43%;
        right: 0px;
      }
      .container-fluid {
        justify-content: center;
        #info {
          height: 35px;
          display: flex;
          justify-content: space-evenly;
          place-items: center;
          .contactTwo {
            display: flex;
            width: 100%;
          }
          .contactOne,
          .time,
          .locate {
            display: flex;
            width: 100%;
          }
          .mail,
          .locate,
          .time {
            width: unset;
            align-items: center;
            display: flex;
          }
          .tel {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;

            .boxTwo {
              z-index: 2;
            }
          }
          p {
            margin-bottom: 0px;
            color: white;
            font-size: 12px;
            line-height: 12px;
          }
          img {
            height: 15px;
            width: auto;
            padding-right: 5px;
            padding-left: 50px;
          }
          a {
            text-decoration: none;
            color: white;
            font-size: 12px;
            line-height: 12px;
          }
        }
      }
    }
  }
  .container-lg {
    .navbar {
      img {
        width: 120px;
      }
      button {
        &:focus {
          box-shadow: 0px 0px 0px 0px;
        }
        .navbar-toggler {
          text-decoration: none;
          outline: 0;
        }
        span {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
      }
      .collapse {
        ul {
          li {
            padding: 10px;
            width: 100%;
            margin-left: 25px;
            padding-left: 25px;
            border-left: 1px solid #bdbdbd;
            p {
              color: grey;
              text-align: center;
              text-align: -webkit-center;
              text-align: -webkit-center;
              text-align: -moz-center;
              font-size: 14px;
              font-weight: 100;
              margin-bottom: 0px;
            }
          }
        }
      }
      form {
        gap: 20px;
        li {
          list-style: none;
          a {
            font-size: 14px;
            font-weight: 700;
            text-decoration: none;
            color: rgb(87, 87, 87);
            &:hover {
              color: rgb(0, 103, 237);
            }
          }
        }
        .infoTwo {
          border-bottom: 1px solid white;
          justify-content: space-evenly;
          place-items: center;
          background-color: #1f2437;
          padding: 10px 0px;
          p {
            margin-bottom: 0px !important;
          }
          .contactOne {
            display: flex;
            width: 100%;
            .time {
              width: 100%;
              font-size: 11px;
              display: flex;
              align-items: center;
              img {
                width: 15px !important;
                height: 15px !important;
              }
            }
            .locate {
              width: 100%;
              font-size: 11px;
              display: flex;
              align-items: center;
              img {
                width: 10px !important;
                height: 15px !important;
              }
            }
          }
          .contactTwo {
            display: flex;
            width: 100%;
            font-size: 12px;
            align-items: center;
            .mail {
              width: 100%;
              font-size: 11px;
              display: flex;
              img {
                width: 15px !important;
                height: 10px !important;
              }
              a {
                font-size: 11px !important;
                font-weight: lighter;
              }
            }
            .tel {
              width: 100%;
              display: flex;
              align-items: center;
              img {
                width: 10px !important;
                height: 15px !important;
              }
              .boxTwo {
                a {
                  font-size: 12px !important;
                  font-weight: lighter;
                }
              }
            }
          }
        }
      }
    }
  }
  header {
    margin-top: 103px;
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    .overly {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: black;
      opacity: 0.5;
      z-index: 1;
    }
    video {
      z-index: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: 0;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }
    .content {
      z-index: 2;
      top: 50%;
      left: 50%;
      position: absolute;
      text-align: center;
      text-align: -webkit-center;
      text-align: -moz-center;
      text-align: -webkit-center;
      transform: translate(-50%, -50%);
      text-align: -moz-center;
      .container {
        .row {
          justify-content: center;
          .line {
            text-align: center;
            text-align: -webkit-center;
            text-align: -moz-center;
            height: 6px;
            background-color: rgb(0, 103, 237);
            width: 150px;
            margin-bottom: 10px;
          }
          .hood {
            font-weight: 700;
            font-size: 54px;
            color: white;
            line-height: 58px;
            margin: 0px;
            font-family: nunitoBold;
          }
          .hoodTwo {
            font-weight: 200;
            font-size: 24px;
            color: white;
            margin: 34px 0px;
          }
          .HeaderButtons {
            display: flex;
            justify-content: center;
            .BookOfButton {
              height: 50px;
              border-radius: 30px;
              background-color: rgb(0, 103, 237);
              width: 200px;
              color: white;
              border: 3px solid rgb(0, 103, 237);
              a {
                text-decoration: none;
                color: white;
              }
            }
            .ContactButton {
              height: 50px;
              border-radius: 30px;
              width: 150px;
              background-color: transparent;
              border: 3px solid white;
              color: white;
              text-decoration: none;
              padding-top: 0px;
              margin-left: 20px;
              a {
                text-decoration: none;
                color: white;
              }
            }
          }
        }
      }
    }
  }
  .sectionOne {
    background-image: url("../img/row-bgimage-1.png");
    padding-bottom: 150px;
    .container {
      .row {
        margin-top: -50px;
        .firstCard {
          background-repeat: no-repeat;
          background-image: url("../img/card111.png");
          background-repeat: no-repeat;
          z-index: 4;
          background-position: center;
          height: 220px;
          position: relative;
          border-radius: 20px;
          padding: 14px 40px;
          .cardInside {
            .imgAndHood {
              display: flex;
              align-items: center;
              height: 100px;
              place-content: center;
              justify-content: center;
              img {
                width: auto;
                height: auto;
              }
              p {
                line-height: 28px;
                text-align: center;
                text-align: -webkit-center;
                text-align: -webkit-center;
                text-align: -moz-center;
                color: white;
                margin: 0px;
                margin-left: 30px;
                font-size: 22px;
                color: white;
              }
            }
            .text {
              p {
                color: white;
                font-size: 14px;
              }
            }
          }
        }
        .secondCard {
          background-repeat: no-repeat;
          background-image: url("../img/card121.png");
          background-repeat: no-repeat;
          z-index: 4;
          background-position: center;
          height: 220px;
          position: relative;
          border-radius: 20px;
          padding: 14px 40px;
          .cardInside {
            .imgAndHood {
              display: flex;
              align-items: center;
              height: 100px;
              place-content: center;
              justify-content: center;
              img {
                width: auto;
                height: auto;
              }
              p {
                line-height: 28px;
                text-align: center;
                text-align: -webkit-center;
                text-align: -webkit-center;
                text-align: -moz-center;
                color: white;
                margin-left: 30px;
                margin-bottom: 0px;
                font-size: 22px;
              }
            }
            .text {
              p {
                color: white;
                font-size: 14px;
              }
            }
          }
        }
        .thirtCard {
          background-repeat: no-repeat;
          background-image: url("../img/card131.png");
          background-repeat: no-repeat;
          z-index: 4;
          background-position: center;
          height: 220px;
          position: relative;
          border-radius: 20px;
          padding: 14px 40px;
          .cardInside {
            .imgAndHood {
              display: flex;
              align-items: center;
              height: 100px;
              place-content: center;
              justify-content: center;
              img {
                width: auto;
                height: auto;
              }
              p {
                text-align: center;
                text-align: -webkit-center;
                text-align: -webkit-center;
                text-align: -moz-center;
                margin: 0px;
                margin-left: 30px;
                font-size: 22px;
              }
            }
            .text {
              p {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
  .sectionTwo {
    background-image: url("../img/MaskGroup7.png");
    padding-top: 110px;
    padding-bottom: 110px;
    background-size: 750px 500px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 0px;
    .container {
      .row {
        .hoodS {
          color: #0067ed;
          margin: 0px;
          font-size: 14px;
        }
        .hoodB {
          line-height: 46px;
          margin: 10px 0px;
          font-size: 32px;
          font-weight: 400;
          .hoodBTwo {
            margin: 0px;
            font-size: 44px;
            font-weight: 700;
            font-family: nunitoBold;
          }
        }
        .text {
          margin: 0px;
          font-size: 16px;
          color: grey;
          font-weight: 400;
          line-height: 1.25em !important;
        }
        .textTwo {
          margin: 0px;
          color: grey;
          font-size: 16px;
          margin-top: 20px;
          margin-bottom: 20px;
          font-weight: 500;
        }
        .textThree {
          margin-top: 30px;
          margin-bottom: 30px;
          font-size: 16px;
          color: rgb(0, 103, 237);
          font-family: nunitoBoldItalic;
        }
        .bigImage {
          margin-top: -55px;
        }
      }
    }
  }
  .sectionThree {
    background-image: url("../img/Group26.png");
    padding-bottom: 180px;
    padding-top: 110px;
    .textArea {
      .row {
        .hoodS {
          color: white;
          margin: 0px;
          font-size: 14px;
        }
        .hoodB {
          font-size: 32px;
          color: white;
          margin: 0px;
          .hoodBTwo {
            font-weight: 700;
            font-family: nunitoBold;
          }
        }
        .text {
          margin: 0px;
          color: white;
          font-size: 14px;
          line-height: 1.25em !important;
        }
      }
    }
    .columns {
      .owl-carousel {
        .owl-item {
          text-align: -webkit-center;
        }
        .item {
          display: flex;
          justify-content: center;
          .card {
            position: relative;
            height: 280px;
            background-color: transparent;
            border: 1px solid white;
            padding: 20px;
            text-align: center;
            text-align: -webkit-center;
            text-align: -webkit-center;
            text-align: -moz-center;
            align-items: center;
            .sliderIcon {
              height: 75px;
              width: 75px;
              margin-top: 20px;
              margin-bottom: 20px;
            }
            .card-body {
              .card-title {
                color: white;
                font-size: 14px;
                width: 150px;
              }
              a {
                font-size: 14px;
                padding: 10px 30px;
                background-color: transparent;
                border: 1px solid white;
                border-radius: 30px;
                color: white;
                position: absolute;
                bottom: 30px;
                left: 50%;
                transform: translateX(-50%);
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
  .sectionFour {
    background-image: url("../img/Group95.png");
    .container {
      padding-bottom: 200px;
      .row {
        .InfoCard {
          background-image: url("../img/mavi-haritali-bg.png");
          background-repeat: no-repeat;
          color: white;
          display: flex;
          align-items: center;
          margin-top: -50px;
          padding: 40px 60px;
          background-size: 100% 100%;
          .hood {
            font-size: 32px;
            font-family: nunitoBold;
          }
          .hoodTwo {
            font-size: 18px;
          }
          a {
            border: 1px solid white;
            border-radius: 30px;
            font-size: 14px;
            color: white;
            text-decoration: none;
            padding: 15px 50px;
          }
        }
      }
    }
    .whatOurClientSays {
      padding-bottom: 160px;

      .row {
        .whatOurClientSaysImg {
          img {
            float: right;
            margin-top: -75px;
            margin-right: -10px;
            background-size: 100% 100%;
          }
        }
        .whatOurClientSaysText {
          background-color: white;
          height: 100%;
          .hoodArea {
            margin-top: 30px;
            .hoodS {
              margin: 0px;
              text-align: center;
              text-align: -webkit-center;
              text-align: -webkit-center;
              text-align: -moz-center;
              font-size: 14px;
              color: #3787ff;
              font-weight: 400;
            }
            .hoodB {
              margin-bottom: 50px;
              margin-bottom: 10px;
              text-align: center;
              text-align: -webkit-center;
              text-align: -webkit-center;
              text-align: -moz-center;
              font-size: 32px;
              .hoodBTwo {
                font-weight: 700;
                font-family: nunitoBold;
              }
            }
            .textArea {
              padding: 30px;
              background-image: url("../img/icon/Path11.png");
              background-size: 200px;
              background-color: #f5faff;
              background-repeat: no-repeat;
              background-position: top left;
              text-align: center;
              text-align: -webkit-center;
              text-align: -webkit-center;
              text-align: -moz-center;
              .text {
                line-height: 44px;
                font-size: 22px;
                color: rgb(182, 182, 182);
              }
              img {
                height: 75px;
                width: 75px;
                margin-top: 30px;
              }
              .name {
                font-size: 22px;
                font-weight: 500;
                margin: 0px;
              }
              .place {
                font-size: 14px;
                color: rgb(182, 182, 182);
                margin: 0px;
              }
            }
          }
        }
      }
    }
  }
  footer {
    padding-top: 0px;
    background-image: url("../img/footer.png");
    color: white;
    .container {
      .firstArea {
        align-items: center;
        border-bottom: 1px solid grey;
        padding-top: 20px;
        padding-bottom: 20px;
        .hood {
          font-size: 24px;
          margin-bottom: 0px !important;
          font-family: nunitoBold;
        }
        .mailArea {
          align-items: center;
          display: flex;
          img {
            width: 20px;
            height: 15px;
          }
          a {
            font-size: 16px;
            padding-left: 10px;
            margin: 0px;
            color: rgb(216, 216, 216);
            text-decoration: none;
          }
        }
        .telArea {
          border-radius: 10px;
          background-color: rgb(0, 103, 237);
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 10px;
          padding-right: 10px;
          text-align: center;
          text-align: -webkit-center;
          text-align: -webkit-center;
          text-align: -moz-center;
          a {
            text-decoration: none;
            color: white;
            font-size: 20px;
            img {
              width: 18px;
              height: auto;
            }
          }
        }
      }
      .secondArea {
        padding-top: 20px;
        .logoAndTextArea {
          padding-right: 210px;
          color: rgb(216, 216, 216);
          img {
            padding-bottom: 20px;
          }
          p {
            font-size: 12px;
          }
        }
        .FooterMenu {
          p {
            font-size: 14px;
            margin-bottom: 10px;
            a {
              color: white;
              margin-bottom: 10px;
              &:hover {
                color: rgb(0, 103, 237) !important;
              }
            }
          }
        }
        .informationArea {
          .locationArea {
            img {
              // width: auto;
              // height: auto;
              margin-right: 10px;
            }
          }
          .locationText {
            padding-right: 110px;
            .iconOne {
              width: 15px;
              height: auto;
              margin-right: 15px;
              margin-left: 3px;
            }
            .iconTwo {
              width: 15px;
              height: auto;
              margin-right: 12px;
            }
            a {
              font-size: 14px;
              margin: 0px;
              color: rgb(216, 216, 216);
              text-decoration: none;
            }
            p {
              color: #d8d8d8;
            }
          }
        }
      }
    }
  }
}
//////// ContactUs.php ////////
body {
  .contactUs {
    background-image: url("../img/pagetitle-bg.png");
    background-size: 100% 100%;
    height: 100%;
    position: relative;
    justify-content: center;
    .hoodArea {
      position: absolute;
      text-align: center;
      text-align: -webkit-center;
      text-align: -moz-center;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      .container {
        .row {
          justify-content: center;
          .line {
            text-align: center;
            text-align: -webkit-center;
            text-align: -webkit-center;
            text-align: -moz-center;
            height: 6px;
            background-color: rgb(0, 103, 237);
            width: 150px;
            margin-bottom: 10px;
          }
          .hoodB {
            font-size: 54px;
            color: white;
            line-height: 58px;
            margin: 0px;
            font-family: nunitoBold;
          }
          .hoodS {
            color: white;
            font-size: 26px;
            margin-top: 20px;
          }
        }
      }
    }
  }
  .formArea {
    position: relative;
    .container {
      .row {
        padding: 50px;
        background-color: white;
        margin-top: -150px;
        .firstArea {
          background-color: #1f2437;
          padding: 20px 65px;
          padding-left: 20px;
          height: 50%;
          .hoodB {
            font-size: 24px;
            color: white;
            font-weight: 600;
            margin-bottom: 0px;
          }
          .text {
            color: #cfcfcf;
            margin-bottom: 0px;
            font-size: 18px;
          }
        }
        .secondArea {
          background-color: rgb(0, 103, 237);
          padding: 28px;
          height: 50%;
          p {
            color: white;
            font-size: 18px;
          }
          img {
            width: 34px;
            height: auto;
            margin-right: 10px;
          }
          a {
            font-size: 22px;
            font-weight: 600;
            text-decoration: none;
            color: white;
          }
        }
        .formAreaTwo {
          .hoodArea {
            .hoodS {
              font-size: 16px;
              color: rgb(0, 103, 237);
            }
            .hoodB {
              font-size: 28px;
              .hoodBTwo {
                font-weight: 800;
                font-family: nunitoBold;
              }
            }
          }
          form {
            .inputArea {
              display: flex;
              input {
                @extend .ContactusInputProperty;
                &:focus {
                  outline: 0px;
                }
              }
            }
            .mailArea {
              textarea {
                @extend .ContactusInputProperty;
                width: 98%;
                height: 200px;
              }
            }
            .buttonArea {
              margin: 10px;
              button {
                width: 100%;
                border: 1px solid black;
                text-align: center;
                text-align: -webkit-center;
                text-align: -webkit-center;
                text-align: -moz-center;
                background-color: transparent;
                height: 35px;
              }
            }
          }
        }
      }
    }
  }
  .contactUsArea {
    padding: 100px 50px;
    background-image: url("../img/contactBgDown.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    .container {
      .row {
        border-radius: 10px;
        background-color: #ffffff40;
        border: 1px solid white;
        padding: 30px;
        .textArea {
          p {
            margin: 0px;
          }
          .hoodB {
            font-size: 36px;
            color: white;
            font-family: nunitoBold;
          }
          .hoodS {
            font-size: 22px;
            color: white;
            a {
              text-decoration: none;
              color: white;
            }
          }
        }
        .contactButtonArea {
          a {
            text-decoration: none;
            color: white;
            background-color: #ffffff40;
            border: 1px solid white;
            font-size: 16px;
            padding: 10px 30px;
            background-color: transparent;
            border: 2px solid white;
            border-radius: 30px;
          }
        }
      }
    }
  }
}
//////// ContactUs.php ////////

//////// aboutus.php ////////
.aboutUsMainArea {
  .aboutus {
    background-image: url("../img/contactBgDown.png");
    background-size: 100% 100%;
    height: 100%;
    position: relative;
    .container {
      .row {
        justify-content: center;
        .hoodArea {
          position: absolute;
          text-align: center;
          text-align: -webkit-center;
          text-align: -webkit-center;
          text-align: -moz-center;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          z-index: 999;
          text-align: -moz-center !important;
          .line {
            text-align: center;
            text-align: -webkit-center;
            text-align: -webkit-center;
            text-align: -moz-center;
            height: 6px;
            background-color: rgb(0, 103, 237);
            width: 150px;
            margin-bottom: 10px;
          }
          .hoodB {
            font-weight: 900;
            font-size: 54px;
            color: white;
            line-height: 58px;
            margin: 0px;
            font-family: nunitoBold;
          }
          .hoodS {
            color: white;
            font-size: 26px;
            margin-top: 20px;
          }
        }
      }
    }
  }
  .aboutUsSOne {
    .container {
      margin-top: 150px;
      margin-bottom: 150px;
      .row {
        .textArea {
          margin-top: 0px;
          .hoodS {
            font-size: 14px;
            color: rgb(0, 103, 237);
            margin: 0px;
          }
          .hoodB {
            font-size: 34px;
            margin: 0px;
          }
          .hoodBTwo {
            font-size: 34px;
            color: rgb(0, 103, 237);
            font-weight: 700;
            margin: 0px;
            font-family: nunitoBold;
          }
          .text {
            font-size: 16px;
            margin: 0px;
          }
          .textTwo {
            font-size: 16px;
            margin: 0px;
            margin-top: 20px;
            margin-bottom: 20px;
            font-family: nunitoBold;
            color: grey;
          }
        }
      }
    }
  }
  .aboutUsSTwo {
    .container-fluid {
      .row {
        .firstArea {
          background-color: #1f2437;
          background-image: url("../img/icon/iconA.png");
          background-position: center left;
          background-repeat: no-repeat;
          padding: 70px;
          padding-left: 16%;
          .textArea {
            .hoodOne {
              font-size: 36px;
              color: white;
              .hoodBold {
                font-family: nunitoBold;
              }
            }
            .text {
              font-size: 16px;
              color: white;
            }
            button {
              background-color: rgb(0, 103, 237);
              border-radius: 10px;
              border: 0px;
              font-size: 18px;
              padding: 8px 24px;
              color: white;
              img {
                width: 16px;
                height: auto;
                margin-left: 20px;
              }
              a {
                text-decoration: none;
                color: white;
              }
            }
          }
        }
        .secondArea {
          background-image: url("../img/icon/colbgimage.png");
          background-size: cover;
          background-position: center left;
          padding: 0px;
          background-repeat: no-repeat;
          .blueArea {
            background-color: rgba(0, 103, 237, 0.75);
            width: 350px;
            height: 100%;
            padding: 110px 30px;
            p {
              font-size: 20px;
              color: white;
            }
            .name {
              font-size: 16px;
              font-style: italic;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
  .staffArea {
    margin-bottom: 100px;
    margin-top: 100px;
    .container-fluid {
      .row {
        .hoodArea {
          background-image: url("../img/BlueA.png");
          background-repeat: no-repeat;
          background-position: center 15px;
          padding: 130px 40px;
          .hoodS {
            font-size: 14px;
            color: rgb(0, 103, 237);
            text-align: end;
            text-align: right;
            margin-bottom: 0px;
            font-weight: 600;
          }
          .hoodB {
            font-size: 36px;
            font-weight: 100;
            text-align: end;
            text-align: right;
            margin-bottom: 0px;
          }
          .hoodBTwo {
            font-size: 36px;
            color: rgb(0, 103, 237);
            text-align: end;
            text-align: right;
            margin-bottom: 0px;
            font-weight: 700;
          }
        }
        .imgArea {
          text-align: center;
          text-align: -webkit-center;
          text-align: -webkit-center;
          text-align: -moz-center;
          .position {
            text-align: center;
            text-align: -webkit-center;
            text-align: -webkit-center;
            text-align: -moz-center;
            font-size: 18px;
            font-weight: 600;
            margin-top: 10px;
            margin-bottom: 0px;
          }
          .name {
            text-align: center;
            text-align: -webkit-center;
            text-align: -webkit-center;
            text-align: -moz-center;
            font-size: 22px;
          }
        }
      }
    }
  }
}
//////// aboutus.php ////////

//////// services.php ///////
.services {
  .servicesHeader {
    background-image: url("../img/pagetitle-bg.png");
    background-size: 100% 100%;
    height: 100%;
    position: relative;
    .hoodArea {
      position: absolute;
      text-align: center;
      text-align: -webkit-center;
      text-align: -moz-center;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      .container {
        .row {
          justify-content: center;
          .line {
            text-align: center;
            text-align: -webkit-center;
            text-align: -webkit-center;
            text-align: -moz-center;
            height: 6px;
            background-color: rgb(0, 103, 237);
            width: 150px;
            margin-bottom: 10px;
          }
          .hoodB {
            font-weight: 900;
            font-size: 54px;
            color: white;
            line-height: 58px;
            margin: 0px;
            font-family: nunitoBold;
          }
          .hoodS {
            color: white;
            font-size: 26px;
            margin-top: 20px;
          }
        }
      }
    }
  }
  .items {
    .container {
      margin-top: 52px;
      margin-bottom: 100px;
      .row {
        .col-md-6 {
          text-align: -webkit-center;
          text-align: -moz-center !important;
          .card {
            background-image: url("../img/CardA.png");
            background-repeat: no-repeat;
            background-position: center right;
            border-radius: 10px;
            position: relative;
            padding: 20px 30px;
            text-align: center;
            text-align: -webkit-center;
            text-align: -webkit-center;
            text-align: -moz-center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-shadow: 0px 0px 20px -10px grey;
            box-shadow: 0px 0px 20px -10px grey;
            border: 0px;
            height: 300px;
            width: 80%;
            .cardHoodArea {
              margin: 10px 0px;
              display: flex;
              text-align: center;
              text-align: -webkit-center;
              text-align: -webkit-center;
              text-align: -moz-center;
              align-items: center;
              img {
              }
              p {
                font-size: 20px;
                line-height: 22px;
                font-weight: 700;
                margin-bottom: 0px !important;
                font-family: nunitoBoldItalic;
              }
            }
            .textAndButton {
              width: 300px;
              p {
                font-size: 20px;
                line-height: 22px;
                font-weight: 700;
                margin-bottom: 0px !important;
                font-family: nunitoBoldItalic;
              }
              button {
                font-size: 14px;
                background-color: white;
                border-radius: 10px;
                padding: 8px;
                padding-left: 20px;
                padding-right: 20px;
                position: absolute;
                bottom: 10px;
                transform: translate(-50%, -50%);
                border: 1px solid black;
                left: 50%;
              }
            }
          }
        }
      }
    }
  }
  .sectionFour {
    padding-top: 200px;
  }
  .prices {
    .container {
      .row {
        .pricesHoods {
          .hoodS {
            color: #3787ff;
            font-size: 14px;
            margin-bottom: 0px;
            text-align: center;
            text-align: -webkit-center;
            text-align: -webkit-center;
            text-align: -moz-center;
          }
          .hoodB {
            color: black;
            font-size: 36px;
            margin-bottom: 20px;
            font-family: nunitoBold;
            text-align: center;
            text-align: -webkit-center;
            text-align: -webkit-center;
            text-align: -moz-center;
          }
        }
        .pricesArea {
          .textArea {
            display: flex;
            justify-content: space-between;
            padding: 15px 30px;
            box-shadow: 0px 0px 20px -10px grey;
            margin-bottom: 10px;
            p {
              font-family: nunitoBold;
              font-size: 18px;
              margin-bottom: 0px;
            }
          }
        }
      }
    }
  }
}
//////// services.php ///////

body {
  font-family: sans-serif;
}

@import "./response";
