.active {
  color: #0067ed !important;
  text-decoration: none;
}

@font-face {
  font-family: nunitoBold;
  src: url("./fonts/Nunito-ExtraBold.woff2");
  src: url("./fonts/Nunito-ExtraBold.woff");
  font-weight: bold;
}

@font-face {
  font-family: nunitoItalic;
  src: url("./fonts/Nunito-Italic.woff2");
  src: url("./fonts/Nunito-Italic.woff");
  font-weight: bold;
}

@font-face {
  font-family: nunitoBoldItalic;
  src: url("./fonts/Nunito-BoldItalic.woff2");
  src: url("./fonts/Nunito-BoldItalic.woff2");
  font-weight: bold;
}

.ContactusInputProperty, body .formArea .container .row .formAreaTwo form .inputArea input, body .formArea .container .row .formAreaTwo form .mailArea textarea {
  width: 50%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  margin: 10px;
  background-color: #f5faff;
  border: 0px;
  outline: 0px;
}

.place-content-center {
  place-content: center;
}

body .specialNav {
  position: fixed;
  top: 0px;
  z-index: 9999;
  background-color: white;
  width: 100%;
}

body .specialNav .headerBack {
  background-color: #1f2437;
  position: relative;
}

body .specialNav .headerBack .box {
  position: absolute;
  height: 35px;
  width: 100%;
  background-color: #0067ed;
  z-index: 1;
  top: 0px;
  width: 43%;
  right: 0px;
}

body .specialNav .headerBack .container-fluid {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .specialNav .headerBack .container-fluid #info {
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  place-items: center;
}

body .specialNav .headerBack .container-fluid #info .contactTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

body .specialNav .headerBack .container-fluid #info .contactOne,
body .specialNav .headerBack .container-fluid #info .time,
body .specialNav .headerBack .container-fluid #info .locate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

body .specialNav .headerBack .container-fluid #info .mail,
body .specialNav .headerBack .container-fluid #info .locate,
body .specialNav .headerBack .container-fluid #info .time {
  width: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .specialNav .headerBack .container-fluid #info .tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .specialNav .headerBack .container-fluid #info .tel .boxTwo {
  z-index: 2;
}

body .specialNav .headerBack .container-fluid #info p {
  margin-bottom: 0px;
  color: white;
  font-size: 12px;
  line-height: 12px;
}

body .specialNav .headerBack .container-fluid #info img {
  height: 15px;
  width: auto;
  padding-right: 5px;
  padding-left: 50px;
}

body .specialNav .headerBack .container-fluid #info a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  line-height: 12px;
}

body .container-lg .navbar img {
  width: 120px;
}

body .container-lg .navbar button:focus {
  -webkit-box-shadow: 0px 0px 0px 0px;
          box-shadow: 0px 0px 0px 0px;
}

body .container-lg .navbar button .navbar-toggler {
  text-decoration: none;
  outline: 0;
}

body .container-lg .navbar button span {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

body .container-lg .navbar .collapse ul li {
  padding: 10px;
  width: 100%;
  margin-left: 25px;
  padding-left: 25px;
  border-left: 1px solid #bdbdbd;
}

body .container-lg .navbar .collapse ul li p {
  color: grey;
  text-align: center;
  text-align: -webkit-center;
  text-align: -webkit-center;
  text-align: -moz-center;
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 0px;
}

body .container-lg .navbar form {
  gap: 20px;
}

body .container-lg .navbar form li {
  list-style: none;
}

body .container-lg .navbar form li a {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: #575757;
}

body .container-lg .navbar form li a:hover {
  color: #0067ed;
}

body .container-lg .navbar form .infoTwo {
  border-bottom: 1px solid white;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  place-items: center;
  background-color: #1f2437;
  padding: 10px 0px;
}

body .container-lg .navbar form .infoTwo p {
  margin-bottom: 0px !important;
}

body .container-lg .navbar form .infoTwo .contactOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

body .container-lg .navbar form .infoTwo .contactOne .time {
  width: 100%;
  font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container-lg .navbar form .infoTwo .contactOne .time img {
  width: 15px !important;
  height: 15px !important;
}

body .container-lg .navbar form .infoTwo .contactOne .locate {
  width: 100%;
  font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container-lg .navbar form .infoTwo .contactOne .locate img {
  width: 10px !important;
  height: 15px !important;
}

body .container-lg .navbar form .infoTwo .contactTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container-lg .navbar form .infoTwo .contactTwo .mail {
  width: 100%;
  font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container-lg .navbar form .infoTwo .contactTwo .mail img {
  width: 15px !important;
  height: 10px !important;
}

body .container-lg .navbar form .infoTwo .contactTwo .mail a {
  font-size: 11px !important;
  font-weight: lighter;
}

body .container-lg .navbar form .infoTwo .contactTwo .tel {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container-lg .navbar form .infoTwo .contactTwo .tel img {
  width: 10px !important;
  height: 15px !important;
}

body .container-lg .navbar form .infoTwo .contactTwo .tel .boxTwo a {
  font-size: 12px !important;
  font-weight: lighter;
}

body header {
  margin-top: 103px;
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

body header .overly {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

body header video {
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

body header .content {
  z-index: 2;
  top: 50%;
  left: 50%;
  position: absolute;
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: -webkit-center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: -moz-center;
}

body header .content .container .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header .content .container .row .line {
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  height: 6px;
  background-color: #0067ed;
  width: 150px;
  margin-bottom: 10px;
}

body header .content .container .row .hood {
  font-weight: 700;
  font-size: 54px;
  color: white;
  line-height: 58px;
  margin: 0px;
  font-family: nunitoBold;
}

body header .content .container .row .hoodTwo {
  font-weight: 200;
  font-size: 24px;
  color: white;
  margin: 34px 0px;
}

body header .content .container .row .HeaderButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header .content .container .row .HeaderButtons .BookOfButton {
  height: 50px;
  border-radius: 30px;
  background-color: #0067ed;
  width: 200px;
  color: white;
  border: 3px solid #0067ed;
}

body header .content .container .row .HeaderButtons .BookOfButton a {
  text-decoration: none;
  color: white;
}

body header .content .container .row .HeaderButtons .ContactButton {
  height: 50px;
  border-radius: 30px;
  width: 150px;
  background-color: transparent;
  border: 3px solid white;
  color: white;
  text-decoration: none;
  padding-top: 0px;
  margin-left: 20px;
}

body header .content .container .row .HeaderButtons .ContactButton a {
  text-decoration: none;
  color: white;
}

body .sectionOne {
  background-image: url("../img/row-bgimage-1.png");
  padding-bottom: 150px;
}

body .sectionOne .container .row {
  margin-top: -50px;
}

body .sectionOne .container .row .firstCard {
  background-repeat: no-repeat;
  background-image: url("../img/card111.png");
  background-repeat: no-repeat;
  z-index: 4;
  background-position: center;
  height: 220px;
  position: relative;
  border-radius: 20px;
  padding: 14px 40px;
}

body .sectionOne .container .row .firstCard .cardInside .imgAndHood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  place-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .sectionOne .container .row .firstCard .cardInside .imgAndHood img {
  width: auto;
  height: auto;
}

body .sectionOne .container .row .firstCard .cardInside .imgAndHood p {
  line-height: 28px;
  text-align: center;
  text-align: -webkit-center;
  text-align: -webkit-center;
  text-align: -moz-center;
  color: white;
  margin: 0px;
  margin-left: 30px;
  font-size: 22px;
  color: white;
}

body .sectionOne .container .row .firstCard .cardInside .text p {
  color: white;
  font-size: 14px;
}

body .sectionOne .container .row .secondCard {
  background-repeat: no-repeat;
  background-image: url("../img/card121.png");
  background-repeat: no-repeat;
  z-index: 4;
  background-position: center;
  height: 220px;
  position: relative;
  border-radius: 20px;
  padding: 14px 40px;
}

body .sectionOne .container .row .secondCard .cardInside .imgAndHood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  place-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .sectionOne .container .row .secondCard .cardInside .imgAndHood img {
  width: auto;
  height: auto;
}

body .sectionOne .container .row .secondCard .cardInside .imgAndHood p {
  line-height: 28px;
  text-align: center;
  text-align: -webkit-center;
  text-align: -webkit-center;
  text-align: -moz-center;
  color: white;
  margin-left: 30px;
  margin-bottom: 0px;
  font-size: 22px;
}

body .sectionOne .container .row .secondCard .cardInside .text p {
  color: white;
  font-size: 14px;
}

body .sectionOne .container .row .thirtCard {
  background-repeat: no-repeat;
  background-image: url("../img/card131.png");
  background-repeat: no-repeat;
  z-index: 4;
  background-position: center;
  height: 220px;
  position: relative;
  border-radius: 20px;
  padding: 14px 40px;
}

body .sectionOne .container .row .thirtCard .cardInside .imgAndHood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  place-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .sectionOne .container .row .thirtCard .cardInside .imgAndHood img {
  width: auto;
  height: auto;
}

body .sectionOne .container .row .thirtCard .cardInside .imgAndHood p {
  text-align: center;
  text-align: -webkit-center;
  text-align: -webkit-center;
  text-align: -moz-center;
  margin: 0px;
  margin-left: 30px;
  font-size: 22px;
}

body .sectionOne .container .row .thirtCard .cardInside .text p {
  font-size: 14px;
}

body .sectionTwo {
  background-image: url("../img/MaskGroup7.png");
  padding-top: 110px;
  padding-bottom: 110px;
  background-size: 750px 500px;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 0px;
}

body .sectionTwo .container .row .hoodS {
  color: #0067ed;
  margin: 0px;
  font-size: 14px;
}

body .sectionTwo .container .row .hoodB {
  line-height: 46px;
  margin: 10px 0px;
  font-size: 32px;
  font-weight: 400;
}

body .sectionTwo .container .row .hoodB .hoodBTwo {
  margin: 0px;
  font-size: 44px;
  font-weight: 700;
  font-family: nunitoBold;
}

body .sectionTwo .container .row .text {
  margin: 0px;
  font-size: 16px;
  color: grey;
  font-weight: 400;
  line-height: 1.25em !important;
}

body .sectionTwo .container .row .textTwo {
  margin: 0px;
  color: grey;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 500;
}

body .sectionTwo .container .row .textThree {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 16px;
  color: #0067ed;
  font-family: nunitoBoldItalic;
}

body .sectionTwo .container .row .bigImage {
  margin-top: -55px;
}

body .sectionThree {
  background-image: url("../img/Group26.png");
  padding-bottom: 180px;
  padding-top: 110px;
}

body .sectionThree .textArea .row .hoodS {
  color: white;
  margin: 0px;
  font-size: 14px;
}

body .sectionThree .textArea .row .hoodB {
  font-size: 32px;
  color: white;
  margin: 0px;
}

body .sectionThree .textArea .row .hoodB .hoodBTwo {
  font-weight: 700;
  font-family: nunitoBold;
}

body .sectionThree .textArea .row .text {
  margin: 0px;
  color: white;
  font-size: 14px;
  line-height: 1.25em !important;
}

body .sectionThree .columns .owl-carousel .owl-item {
  text-align: -webkit-center;
}

body .sectionThree .columns .owl-carousel .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .sectionThree .columns .owl-carousel .item .card {
  position: relative;
  height: 280px;
  background-color: transparent;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  text-align: -webkit-center;
  text-align: -webkit-center;
  text-align: -moz-center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .sectionThree .columns .owl-carousel .item .card .sliderIcon {
  height: 75px;
  width: 75px;
  margin-top: 20px;
  margin-bottom: 20px;
}

body .sectionThree .columns .owl-carousel .item .card .card-body .card-title {
  color: white;
  font-size: 14px;
  width: 150px;
}

body .sectionThree .columns .owl-carousel .item .card .card-body a {
  font-size: 14px;
  padding: 10px 30px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 30px;
  color: white;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-decoration: none;
}

body .sectionFour {
  background-image: url("../img/Group95.png");
}

body .sectionFour .container {
  padding-bottom: 200px;
}

body .sectionFour .container .row .InfoCard {
  background-image: url("../img/mavi-haritali-bg.png");
  background-repeat: no-repeat;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -50px;
  padding: 40px 60px;
  background-size: 100% 100%;
}

body .sectionFour .container .row .InfoCard .hood {
  font-size: 32px;
  font-family: nunitoBold;
}

body .sectionFour .container .row .InfoCard .hoodTwo {
  font-size: 18px;
}

body .sectionFour .container .row .InfoCard a {
  border: 1px solid white;
  border-radius: 30px;
  font-size: 14px;
  color: white;
  text-decoration: none;
  padding: 15px 50px;
}

body .sectionFour .whatOurClientSays {
  padding-bottom: 160px;
}

body .sectionFour .whatOurClientSays .row .whatOurClientSaysImg img {
  float: right;
  margin-top: -75px;
  margin-right: -10px;
  background-size: 100% 100%;
}

body .sectionFour .whatOurClientSays .row .whatOurClientSaysText {
  background-color: white;
  height: 100%;
}

body .sectionFour .whatOurClientSays .row .whatOurClientSaysText .hoodArea {
  margin-top: 30px;
}

body .sectionFour .whatOurClientSays .row .whatOurClientSaysText .hoodArea .hoodS {
  margin: 0px;
  text-align: center;
  text-align: -webkit-center;
  text-align: -webkit-center;
  text-align: -moz-center;
  font-size: 14px;
  color: #3787ff;
  font-weight: 400;
}

body .sectionFour .whatOurClientSays .row .whatOurClientSaysText .hoodArea .hoodB {
  margin-bottom: 50px;
  margin-bottom: 10px;
  text-align: center;
  text-align: -webkit-center;
  text-align: -webkit-center;
  text-align: -moz-center;
  font-size: 32px;
}

body .sectionFour .whatOurClientSays .row .whatOurClientSaysText .hoodArea .hoodB .hoodBTwo {
  font-weight: 700;
  font-family: nunitoBold;
}

body .sectionFour .whatOurClientSays .row .whatOurClientSaysText .hoodArea .textArea {
  padding: 30px;
  background-image: url("../img/icon/Path11.png");
  background-size: 200px;
  background-color: #f5faff;
  background-repeat: no-repeat;
  background-position: top left;
  text-align: center;
  text-align: -webkit-center;
  text-align: -webkit-center;
  text-align: -moz-center;
}

body .sectionFour .whatOurClientSays .row .whatOurClientSaysText .hoodArea .textArea .text {
  line-height: 44px;
  font-size: 22px;
  color: #b6b6b6;
}

body .sectionFour .whatOurClientSays .row .whatOurClientSaysText .hoodArea .textArea img {
  height: 75px;
  width: 75px;
  margin-top: 30px;
}

body .sectionFour .whatOurClientSays .row .whatOurClientSaysText .hoodArea .textArea .name {
  font-size: 22px;
  font-weight: 500;
  margin: 0px;
}

body .sectionFour .whatOurClientSays .row .whatOurClientSaysText .hoodArea .textArea .place {
  font-size: 14px;
  color: #b6b6b6;
  margin: 0px;
}

body footer {
  padding-top: 0px;
  background-image: url("../img/footer.png");
  color: white;
}

body footer .container .firstArea {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid grey;
  padding-top: 20px;
  padding-bottom: 20px;
}

body footer .container .firstArea .hood {
  font-size: 24px;
  margin-bottom: 0px !important;
  font-family: nunitoBold;
}

body footer .container .firstArea .mailArea {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body footer .container .firstArea .mailArea img {
  width: 20px;
  height: 15px;
}

body footer .container .firstArea .mailArea a {
  font-size: 16px;
  padding-left: 10px;
  margin: 0px;
  color: #d8d8d8;
  text-decoration: none;
}

body footer .container .firstArea .telArea {
  border-radius: 10px;
  background-color: #0067ed;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  text-align: -webkit-center;
  text-align: -webkit-center;
  text-align: -moz-center;
}

body footer .container .firstArea .telArea a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

body footer .container .firstArea .telArea a img {
  width: 18px;
  height: auto;
}

body footer .container .secondArea {
  padding-top: 20px;
}

body footer .container .secondArea .logoAndTextArea {
  padding-right: 210px;
  color: #d8d8d8;
}

body footer .container .secondArea .logoAndTextArea img {
  padding-bottom: 20px;
}

body footer .container .secondArea .logoAndTextArea p {
  font-size: 12px;
}

body footer .container .secondArea .FooterMenu p {
  font-size: 14px;
  margin-bottom: 10px;
}

body footer .container .secondArea .FooterMenu p a {
  color: white;
  margin-bottom: 10px;
}

body footer .container .secondArea .FooterMenu p a:hover {
  color: #0067ed !important;
}

body footer .container .secondArea .informationArea .locationArea img {
  margin-right: 10px;
}

body footer .container .secondArea .informationArea .locationText {
  padding-right: 110px;
}

body footer .container .secondArea .informationArea .locationText .iconOne {
  width: 15px;
  height: auto;
  margin-right: 15px;
  margin-left: 3px;
}

body footer .container .secondArea .informationArea .locationText .iconTwo {
  width: 15px;
  height: auto;
  margin-right: 12px;
}

body footer .container .secondArea .informationArea .locationText a {
  font-size: 14px;
  margin: 0px;
  color: #d8d8d8;
  text-decoration: none;
}

body footer .container .secondArea .informationArea .locationText p {
  color: #d8d8d8;
}

body .contactUs {
  background-image: url("../img/pagetitle-bg.png");
  background-size: 100% 100%;
  height: 100%;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .contactUs .hoodArea {
  position: absolute;
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

body .contactUs .hoodArea .container .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .contactUs .hoodArea .container .row .line {
  text-align: center;
  text-align: -webkit-center;
  text-align: -webkit-center;
  text-align: -moz-center;
  height: 6px;
  background-color: #0067ed;
  width: 150px;
  margin-bottom: 10px;
}

body .contactUs .hoodArea .container .row .hoodB {
  font-size: 54px;
  color: white;
  line-height: 58px;
  margin: 0px;
  font-family: nunitoBold;
}

body .contactUs .hoodArea .container .row .hoodS {
  color: white;
  font-size: 26px;
  margin-top: 20px;
}

body .formArea {
  position: relative;
}

body .formArea .container .row {
  padding: 50px;
  background-color: white;
  margin-top: -150px;
}

body .formArea .container .row .firstArea {
  background-color: #1f2437;
  padding: 20px 65px;
  padding-left: 20px;
  height: 50%;
}

body .formArea .container .row .firstArea .hoodB {
  font-size: 24px;
  color: white;
  font-weight: 600;
  margin-bottom: 0px;
}

body .formArea .container .row .firstArea .text {
  color: #cfcfcf;
  margin-bottom: 0px;
  font-size: 18px;
}

body .formArea .container .row .secondArea {
  background-color: #0067ed;
  padding: 28px;
  height: 50%;
}

body .formArea .container .row .secondArea p {
  color: white;
  font-size: 18px;
}

body .formArea .container .row .secondArea img {
  width: 34px;
  height: auto;
  margin-right: 10px;
}

body .formArea .container .row .secondArea a {
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  color: white;
}

body .formArea .container .row .formAreaTwo .hoodArea .hoodS {
  font-size: 16px;
  color: #0067ed;
}

body .formArea .container .row .formAreaTwo .hoodArea .hoodB {
  font-size: 28px;
}

body .formArea .container .row .formAreaTwo .hoodArea .hoodB .hoodBTwo {
  font-weight: 800;
  font-family: nunitoBold;
}

body .formArea .container .row .formAreaTwo form .inputArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .formArea .container .row .formAreaTwo form .inputArea input:focus {
  outline: 0px;
}

body .formArea .container .row .formAreaTwo form .mailArea textarea {
  width: 98%;
  height: 200px;
}

body .formArea .container .row .formAreaTwo form .buttonArea {
  margin: 10px;
}

body .formArea .container .row .formAreaTwo form .buttonArea button {
  width: 100%;
  border: 1px solid black;
  text-align: center;
  text-align: -webkit-center;
  text-align: -webkit-center;
  text-align: -moz-center;
  background-color: transparent;
  height: 35px;
}

body .contactUsArea {
  padding: 100px 50px;
  background-image: url("../img/contactBgDown.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

body .contactUsArea .container .row {
  border-radius: 10px;
  background-color: #ffffff40;
  border: 1px solid white;
  padding: 30px;
}

body .contactUsArea .container .row .textArea p {
  margin: 0px;
}

body .contactUsArea .container .row .textArea .hoodB {
  font-size: 36px;
  color: white;
  font-family: nunitoBold;
}

body .contactUsArea .container .row .textArea .hoodS {
  font-size: 22px;
  color: white;
}

body .contactUsArea .container .row .textArea .hoodS a {
  text-decoration: none;
  color: white;
}

body .contactUsArea .container .row .contactButtonArea a {
  text-decoration: none;
  color: white;
  background-color: #ffffff40;
  border: 1px solid white;
  font-size: 16px;
  padding: 10px 30px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 30px;
}

.aboutUsMainArea .aboutus {
  background-image: url("../img/contactBgDown.png");
  background-size: 100% 100%;
  height: 100%;
  position: relative;
}

.aboutUsMainArea .aboutus .container .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutUsMainArea .aboutus .container .row .hoodArea {
  position: absolute;
  text-align: center;
  text-align: -webkit-center;
  text-align: -webkit-center;
  text-align: -moz-center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 999;
  text-align: -moz-center !important;
}

.aboutUsMainArea .aboutus .container .row .hoodArea .line {
  text-align: center;
  text-align: -webkit-center;
  text-align: -webkit-center;
  text-align: -moz-center;
  height: 6px;
  background-color: #0067ed;
  width: 150px;
  margin-bottom: 10px;
}

.aboutUsMainArea .aboutus .container .row .hoodArea .hoodB {
  font-weight: 900;
  font-size: 54px;
  color: white;
  line-height: 58px;
  margin: 0px;
  font-family: nunitoBold;
}

.aboutUsMainArea .aboutus .container .row .hoodArea .hoodS {
  color: white;
  font-size: 26px;
  margin-top: 20px;
}

.aboutUsMainArea .aboutUsSOne .container {
  margin-top: 150px;
  margin-bottom: 150px;
}

.aboutUsMainArea .aboutUsSOne .container .row .textArea {
  margin-top: 0px;
}

.aboutUsMainArea .aboutUsSOne .container .row .textArea .hoodS {
  font-size: 14px;
  color: #0067ed;
  margin: 0px;
}

.aboutUsMainArea .aboutUsSOne .container .row .textArea .hoodB {
  font-size: 34px;
  margin: 0px;
}

.aboutUsMainArea .aboutUsSOne .container .row .textArea .hoodBTwo {
  font-size: 34px;
  color: #0067ed;
  font-weight: 700;
  margin: 0px;
  font-family: nunitoBold;
}

.aboutUsMainArea .aboutUsSOne .container .row .textArea .text {
  font-size: 16px;
  margin: 0px;
}

.aboutUsMainArea .aboutUsSOne .container .row .textArea .textTwo {
  font-size: 16px;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: nunitoBold;
  color: grey;
}

.aboutUsMainArea .aboutUsSTwo .container-fluid .row .firstArea {
  background-color: #1f2437;
  background-image: url("../img/icon/iconA.png");
  background-position: center left;
  background-repeat: no-repeat;
  padding: 70px;
  padding-left: 16%;
}

.aboutUsMainArea .aboutUsSTwo .container-fluid .row .firstArea .textArea .hoodOne {
  font-size: 36px;
  color: white;
}

.aboutUsMainArea .aboutUsSTwo .container-fluid .row .firstArea .textArea .hoodOne .hoodBold {
  font-family: nunitoBold;
}

.aboutUsMainArea .aboutUsSTwo .container-fluid .row .firstArea .textArea .text {
  font-size: 16px;
  color: white;
}

.aboutUsMainArea .aboutUsSTwo .container-fluid .row .firstArea .textArea button {
  background-color: #0067ed;
  border-radius: 10px;
  border: 0px;
  font-size: 18px;
  padding: 8px 24px;
  color: white;
}

.aboutUsMainArea .aboutUsSTwo .container-fluid .row .firstArea .textArea button img {
  width: 16px;
  height: auto;
  margin-left: 20px;
}

.aboutUsMainArea .aboutUsSTwo .container-fluid .row .firstArea .textArea button a {
  text-decoration: none;
  color: white;
}

.aboutUsMainArea .aboutUsSTwo .container-fluid .row .secondArea {
  background-image: url("../img/icon/colbgimage.png");
  background-size: cover;
  background-position: center left;
  padding: 0px;
  background-repeat: no-repeat;
}

.aboutUsMainArea .aboutUsSTwo .container-fluid .row .secondArea .blueArea {
  background-color: rgba(0, 103, 237, 0.75);
  width: 350px;
  height: 100%;
  padding: 110px 30px;
}

.aboutUsMainArea .aboutUsSTwo .container-fluid .row .secondArea .blueArea p {
  font-size: 20px;
  color: white;
}

.aboutUsMainArea .aboutUsSTwo .container-fluid .row .secondArea .blueArea .name {
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
}

.aboutUsMainArea .staffArea {
  margin-bottom: 100px;
  margin-top: 100px;
}

.aboutUsMainArea .staffArea .container-fluid .row .hoodArea {
  background-image: url("../img/BlueA.png");
  background-repeat: no-repeat;
  background-position: center 15px;
  padding: 130px 40px;
}

.aboutUsMainArea .staffArea .container-fluid .row .hoodArea .hoodS {
  font-size: 14px;
  color: #0067ed;
  text-align: end;
  text-align: right;
  margin-bottom: 0px;
  font-weight: 600;
}

.aboutUsMainArea .staffArea .container-fluid .row .hoodArea .hoodB {
  font-size: 36px;
  font-weight: 100;
  text-align: end;
  text-align: right;
  margin-bottom: 0px;
}

.aboutUsMainArea .staffArea .container-fluid .row .hoodArea .hoodBTwo {
  font-size: 36px;
  color: #0067ed;
  text-align: end;
  text-align: right;
  margin-bottom: 0px;
  font-weight: 700;
}

.aboutUsMainArea .staffArea .container-fluid .row .imgArea {
  text-align: center;
  text-align: -webkit-center;
  text-align: -webkit-center;
  text-align: -moz-center;
}

.aboutUsMainArea .staffArea .container-fluid .row .imgArea .position {
  text-align: center;
  text-align: -webkit-center;
  text-align: -webkit-center;
  text-align: -moz-center;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 0px;
}

.aboutUsMainArea .staffArea .container-fluid .row .imgArea .name {
  text-align: center;
  text-align: -webkit-center;
  text-align: -webkit-center;
  text-align: -moz-center;
  font-size: 22px;
}

.services .servicesHeader {
  background-image: url("../img/pagetitle-bg.png");
  background-size: 100% 100%;
  height: 100%;
  position: relative;
}

.services .servicesHeader .hoodArea {
  position: absolute;
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.services .servicesHeader .hoodArea .container .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .servicesHeader .hoodArea .container .row .line {
  text-align: center;
  text-align: -webkit-center;
  text-align: -webkit-center;
  text-align: -moz-center;
  height: 6px;
  background-color: #0067ed;
  width: 150px;
  margin-bottom: 10px;
}

.services .servicesHeader .hoodArea .container .row .hoodB {
  font-weight: 900;
  font-size: 54px;
  color: white;
  line-height: 58px;
  margin: 0px;
  font-family: nunitoBold;
}

.services .servicesHeader .hoodArea .container .row .hoodS {
  color: white;
  font-size: 26px;
  margin-top: 20px;
}

.services .items .container {
  margin-top: 52px;
  margin-bottom: 100px;
}

.services .items .container .row .col-md-6 {
  text-align: -webkit-center;
  text-align: -moz-center !important;
}

.services .items .container .row .col-md-6 .card {
  background-image: url("../img/CardA.png");
  background-repeat: no-repeat;
  background-position: center right;
  border-radius: 10px;
  position: relative;
  padding: 20px 30px;
  text-align: center;
  text-align: -webkit-center;
  text-align: -webkit-center;
  text-align: -moz-center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 20px -10px grey;
  box-shadow: 0px 0px 20px -10px grey;
  border: 0px;
  height: 300px;
  width: 80%;
}

.services .items .container .row .col-md-6 .card .cardHoodArea {
  margin: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  text-align: -webkit-center;
  text-align: -webkit-center;
  text-align: -moz-center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .items .container .row .col-md-6 .card .cardHoodArea p {
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 0px !important;
  font-family: nunitoBoldItalic;
}

.services .items .container .row .col-md-6 .card .textAndButton {
  width: 300px;
}

.services .items .container .row .col-md-6 .card .textAndButton p {
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 0px !important;
  font-family: nunitoBoldItalic;
}

.services .items .container .row .col-md-6 .card .textAndButton button {
  font-size: 14px;
  background-color: white;
  border-radius: 10px;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  bottom: 10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid black;
  left: 50%;
}

.services .sectionFour {
  padding-top: 200px;
}

.services .prices .container .row .pricesHoods .hoodS {
  color: #3787ff;
  font-size: 14px;
  margin-bottom: 0px;
  text-align: center;
  text-align: -webkit-center;
  text-align: -webkit-center;
  text-align: -moz-center;
}

.services .prices .container .row .pricesHoods .hoodB {
  color: black;
  font-size: 36px;
  margin-bottom: 20px;
  font-family: nunitoBold;
  text-align: center;
  text-align: -webkit-center;
  text-align: -webkit-center;
  text-align: -moz-center;
}

.services .prices .container .row .pricesArea .textArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 30px;
  -webkit-box-shadow: 0px 0px 20px -10px grey;
          box-shadow: 0px 0px 20px -10px grey;
  margin-bottom: 10px;
}

.services .prices .container .row .pricesArea .textArea p {
  font-family: nunitoBold;
  font-size: 18px;
  margin-bottom: 0px;
}

body {
  font-family: sans-serif;
}

@media (max-width: 1400px) {
  .headerBack .container-fluid #info p {
    font-size: 10px !important;
  }
  .headerBack .container-fluid #info a {
    font-size: 10px !important;
  }
  .headerBack .container-fluid #info .contactOne,
  .headerBack .container-fluid #info .time {
    width: 100% !important;
  }
  .headerBack .container-fluid #info .locate {
    width: 100% !important;
  }
  .headerBack .container-fluid #info .mail {
    place-content: end !important;
    width: 100% !important;
  }
  .headerBack .container-fluid #info .time {
    width: 100% !important;
  }
  .headerBack .container-fluid #info .tel {
    place-content: end !important;
  }
  .sectionOne .container .row .firstCard {
    padding: 16px 40px !important;
  }
  .sectionOne .container .row .firstCard .cardInside .imgAndHood img {
    width: 45px !important;
  }
  .sectionOne .container .row .firstCard .cardInside .imgAndHood p {
    margin-left: 25px !important;
  }
  .sectionOne .container .row .secondCard {
    padding: 16px 40px !important;
  }
  .sectionOne .container .row .secondCard .cardInside .imgAndHood img {
    width: 45px !important;
  }
  .sectionOne .container .row .secondCard .cardInside .imgAndHood p {
    margin-left: 25px !important;
  }
  .sectionOne .container .row .thirtCard {
    padding: 16px 40px !important;
  }
  .sectionOne .container .row .thirtCard .cardInside .imgAndHood img {
    width: 45px !important;
  }
  .sectionOne .container .row .thirtCard .cardInside .imgAndHood p {
    margin-left: 25px !important;
  }
  .sectionTwo {
    background-size: 550px 450px !important;
  }
  .sectionTwo .container .row {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .sectionFour .container {
    padding-bottom: 150px !important;
  }
  .sectionFour .container .row .InfoCard {
    padding: 30px 20px !important;
  }
  .sectionFour .container .row .InfoCard .w-25 {
    text-align: left !important;
  }
  .sectionFour .container .row .InfoCard .hood {
    font-size: 28px !important;
  }
  .sectionFour .container .row .InfoCard .hoodTwo {
    font-size: 16px !important;
  }
  .sectionFour .container .row .InfoCard a {
    padding: 10px 30px !important;
  }
  .sectionFour .whatOurClientSays .row .whatOurClientSaysText .hoodArea .hoodB {
    font-size: 36px !important;
  }
  .sectionFour .whatOurClientSays .row .whatOurClientSaysText .hoodArea .textArea .text {
    font-size: 22px !important;
    line-height: 34px !important;
  }
  footer .container .firstArea .telArea a {
    font-size: 24px !important;
  }
  footer .container .secondArea .logoAndTextArea {
    padding-right: 88px !important;
  }
  .aboutUsSTwo .container-fluid .row .firstArea {
    padding-left: 13% !important;
  }
  .items .container .row .col-md-6 .card {
    width: 100% !important;
  }
}

@media (max-width: 1200px) {
  header .content .hood {
    font-size: 46px !important;
    line-height: 42px !important;
  }
  header .content .hoodTwo {
    margin-bottom: 40px !important;
    font-size: 24px !important;
    line-height: 28px !important;
  }
  .sectionOne .container .row .firstCard {
    padding: 16px 30px !important;
  }
  .sectionOne .container .row .firstCard .cardInside .imgAndHood img {
    width: 40px !important;
  }
  .sectionOne .container .row .firstCard .cardInside p {
    font-size: 18px !important;
    line-height: 22px !important;
    margin-left: 10px !important;
  }
  .sectionOne .container .row .firstCard .text p {
    font-size: 16px !important;
    margin-left: 0px !important;
    line-height: 20px !important;
  }
  .sectionOne .container .row .secondCard {
    padding: 16px 30px !important;
  }
  .sectionOne .container .row .secondCard .cardInside .imgAndHood img {
    width: 40px !important;
  }
  .sectionOne .container .row .secondCard .cardInside .imgAndHood p {
    font-size: 17px !important;
    line-height: 22px !important;
    margin-left: 10px !important;
  }
  .sectionOne .container .row .secondCard .cardInside .text p {
    font-size: 15px;
    margin-left: 0px;
    line-height: 20px;
  }
  .sectionOne .container .row .thirtCard {
    padding: 16px 30px !important;
    border-radius: 20px !important;
  }
  .sectionOne .container .row .thirtCard .cardInside .imgAndHood img {
    width: 40px !important;
  }
  .sectionOne .container .row .thirtCard .cardInside .imgAndHood p {
    font-size: 18px !important;
    line-height: 22px !important;
    margin-left: 10px !important;
  }
  .sectionOne .container .row .thirtCard .cardInside .text p {
    font-size: 15px;
    margin-left: 0px;
    line-height: 18px;
  }
  .sectionTwo {
    padding-top: 20px !important;
    background-size: 550px 450px !important;
  }
  .sectionThree .textArea .row .hoodB {
    font-size: 28px !important;
  }
  .sectionThree .columns .owl-carousel .item .card {
    height: 290px !important;
  }
  .sectionThree .columns .owl-carousel .item .card .sliderIcon {
    height: 55px !important;
    width: 55px !important;
  }
  .sectionThree .columns .owl-carousel .item .card .card-body a {
    padding: 10px 30px !important;
  }
  .sectionFour .container .row .InfoCard .hood {
    font-size: 24px !important;
  }
  .sectionFour .container .row .InfoCard .hoodTwo {
    font-size: 14px !important;
  }
  .sectionFour .container .row .InfoCard a {
    padding: 10px 30px !important;
  }
  .sectionFour .whatOurClientSays .row .whatOurClientSaysText .hoodArea .hoodB {
    font-size: 32px !important;
  }
  .sectionFour .whatOurClientSays .row .whatOurClientSaysText .hoodArea .textArea .text {
    line-height: 28px !important;
    font-size: 18px !important;
  }
  .sectionFour .whatOurClientSays .row .whatOurClientSaysText .hoodArea .textArea img {
    margin-top: 12px !important;
  }
  .sectionFour .whatOurClientSays .row .whatOurClientSaysText .hoodArea .textArea .name {
    font-size: 18px !important;
  }
  .sectionFour .whatOurClientSays .row .whatOurClientSaysText .hoodArea .textArea .place {
    font-size: 14px !important;
  }
  footer .container .firstArea .telArea a {
    font-size: 18px !important;
  }
  footer .container .firstArea .telArea a img {
    width: 20px !important;
  }
  footer .container .secondArea .logoAndTextArea {
    padding-right: 88px !important;
  }
  footer .container .secondArea .informationArea .locationText {
    padding-right: 0px !important;
  }
  body .formArea .container .row .firstArea .text {
    font-size: 16px;
  }
  body .formArea .container .row .secondArea p {
    font-size: 16px;
  }
  body .formArea .container .row .secondArea img {
    height: auto;
    width: auto;
  }
  body .formArea .container .row .secondArea a {
    font-size: 16px;
  }
  body .contactUsArea .container .row .textArea .hoodB {
    font-size: 26px !important;
  }
  body .contactUsArea .container .row .textArea .hoodS {
    font-size: 18px !important;
  }
  .aboutUsMainArea .aboutus {
    background-image: url("../img/contactBgDown.png");
    background-size: 100% 100%;
    height: 100%;
    position: relative;
  }
  .aboutUsMainArea .aboutus .hoodArea {
    position: absolute;
    text-align: center;
    text-align: -moz-center !important;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: -webkit-center;
  }
  .aboutUsMainArea .aboutus .hoodArea .line {
    text-align: center;
    text-align: -moz-center !important;
    height: 6px;
    background-color: #0067ed;
    width: 250px;
    margin-bottom: 10px;
  }
  .aboutUsMainArea .aboutus .hoodArea .hoodB {
    font-weight: 900;
    font-size: 54px;
    color: white;
    line-height: 58px;
    margin: 0px;
  }
  .aboutUsMainArea .aboutus .hoodArea .hoodS {
    color: white;
    font-size: 26px;
    margin-top: 20px;
  }
  .aboutUsMainArea .aboutUsSOne .container {
    margin-top: 150px;
    margin-bottom: 150px;
  }
  .aboutUsMainArea .aboutUsSOne .container .row .textArea {
    margin-top: -72px;
  }
  .aboutUsMainArea .aboutUsSOne .container .row .textArea .hoodS {
    font-size: 18px;
    color: #0067ed;
    margin: 0px;
  }
  .aboutUsMainArea .aboutUsSOne .container .row .textArea .hoodB {
    font-size: 34px;
    margin: 0px;
  }
  .aboutUsMainArea .aboutUsSOne .container .row .textArea .hoodBTwo {
    font-size: 34px;
    color: #0067ed;
    font-weight: 700;
    margin: 0px;
  }
  .aboutUsMainArea .aboutUsSOne .container .row .textArea .text {
    font-size: 14px;
    margin: 0px;
  }
  .aboutUsMainArea .aboutUsSTwo .container-fluid .row .firstArea {
    padding-left: 10% !important;
  }
  .staffArea .container-fluid .row .hoodArea .hoodS {
    text-align: center !important;
    text-align: -moz-center !important;
  }
  .staffArea .container-fluid .row .hoodArea .hoodB {
    font-size: 32px !important;
    text-align: center !important;
    text-align: -moz-center !important;
  }
  .staffArea .container-fluid .row .hoodArea .hoodBTwo {
    font-size: 32px !important;
    text-align: center !important;
    text-align: -moz-center !important;
  }
  .staffArea .container-fluid .row .imgArea .position {
    font-size: 16px !important;
    text-align: center !important;
    text-align: -moz-center !important;
  }
  .staffArea .container-fluid .row .imgArea .name {
    font-size: 18px !important;
    text-align: center !important;
    text-align: -moz-center !important;
  }
}

@media (max-width: 992px) {
  .container .navbar {
    padding-bottom: 0px !important;
  }
  .container .navbar img {
    width: 140px !important;
  }
  .container .navbar form {
    margin-bottom: 0px !important;
  }
  .container .navbar form p {
    margin-bottom: 10px !important;
  }
  header {
    margin-top: 56px !important;
    height: 94vh !important;
  }
  .sectionOne {
    padding-bottom: 0px !important;
  }
  .sectionOne .container .row {
    margin-top: 0px !important;
    padding: 30px 0px !important;
  }
  .sectionOne .container .row .firstCard {
    padding: 16px 40px !important;
  }
  .sectionOne .container .row .secondCard {
    padding: 16px 40px !important;
  }
  .sectionOne .container .row .thirtCard {
    padding: 16px 40px !important;
  }
  .sectionTwo {
    padding-bottom: 50px !important;
    background-position-y: bottom !important;
    background-size: 650px 450px !important;
  }
  .sectionTwo .container .row .bigImage {
    margin-top: 0px !important;
  }
  .sectionTwo .container .row .bigImage img {
    width: 100% !important;
    height: 100% !important;
  }
  .sectionThree .textArea .row .hoodS {
    font-size: 14px !important;
  }
  .sectionThree .textArea .row .hoodB {
    font-size: 24px !important;
  }
  .sectionThree .textArea .row .text {
    font-size: 12px !important;
  }
  .sectionThree .columns .owl-carousel .item .card {
    height: 280px !important;
  }
  .sectionFour .container {
    padding-bottom: 50px !important;
  }
  .sectionFour .container .row .InfoCard {
    padding: 50px 30px !important;
  }
  .sectionFour .container .row .InfoCard .w-25 {
    text-align: center !important;
    text-align: -moz-center !important;
  }
  .sectionFour .container .row .InfoCard .hood {
    font-size: 18px !important;
  }
  .sectionFour .container .row .InfoCard a {
    font-size: 14px !important;
    padding: 10px 20px !important;
  }
  .sectionFour .whatOurClientSays .row .whatOurClientSaysImg img {
    width: 100%;
    margin-top: 20px !important;
    margin-right: 0px !important;
  }
  footer .container .firstArea .col-12 {
    margin-bottom: 20px !important;
  }
  footer .container .firstArea .mailArea {
    place-content: center;
  }
  footer .container .secondArea .logoAndTextArea {
    padding: 0px !important;
  }
  footer .container .secondArea .FooterMenu {
    place-content: space-evenly;
  }
  footer .container .secondArea .informationArea .locationText {
    padding-left: 0px !important;
  }
  body .contactUs {
    background-image: url("../img/Group97.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  body .contactUs .hoodArea .hoodB {
    font-size: 42px !important;
    line-height: 48px !important;
  }
  body .formArea .container .row .firstArea {
    padding-left: 10px !important;
    padding: 20px 10px;
  }
  body .formArea .container .row .firstArea .hoodB {
    text-align: center;
    text-align: -moz-center !important;
  }
  body .formArea .container .row .firstArea .text {
    text-align: center;
    text-align: -moz-center !important;
  }
  body .formArea .container .row .secondArea {
    text-align: center;
    text-align: -moz-center !important;
  }
  body .formArea .container .row .formAreaTwo .hoodArea .hoodS {
    margin-top: 20px !important;
    margin-bottom: 0px !important;
  }
  body .formArea .container .row .formAreaTwo form .mailArea textarea {
    margin: 10px 5px !important;
  }
  body .contactUsArea .container {
    text-align: -webkit-center;
    text-align: -moz-center !important;
  }
  body .contactUsArea .container .row .textArea {
    text-align: center;
  }
  body .contactUsArea .container .row .textArea .hoodB {
    font-size: 24px !important;
  }
  body .contactUsArea .container .row .textArea .hoodS {
    font-size: 16px !important;
    line-height: 24px !important;
    margin-top: 16px !important;
  }
  body .contactUsArea .container .row .contactButtonArea {
    margin-top: 30px !important;
  }
  .aboutUsMainArea .aboutus {
    background-image: url("../img/tabletAboutus.png") !important;
    background-size: cover;
  }
  .aboutUsMainArea .staffArea {
    margin-bottom: 50px !important;
    margin-top: 50px !important;
  }
  .aboutUsMainArea .staffArea .container-fluid .row .hoodArea {
    background-position: center center !important;
  }
  .aboutUsMainArea .staffArea .container-fluid .row .hoodArea .hoodS {
    text-align: center !important;
    text-align: -moz-center !important;
  }
  .aboutUsMainArea .staffArea .container-fluid .row .hoodArea .hoodB {
    font-size: 32px !important;
    text-align: center !important;
    text-align: -moz-center !important;
  }
  .aboutUsMainArea .staffArea .container-fluid .row .hoodArea .hoodBTwo {
    font-size: 32px !important;
    text-align: center !important;
    text-align: -moz-center !important;
  }
  .aboutUsMainArea .staffArea .container-fluid .row .imgArea .position {
    font-size: 16px !important;
    text-align: center !important;
    text-align: -moz-center !important;
  }
  .aboutUsMainArea .staffArea .container-fluid .row .imgArea .name {
    font-size: 18px !important;
    text-align: center !important;
    text-align: -moz-center !important;
  }
  .services .servicesHeader {
    background-image: url("../img/Group97.png");
  }
  .services .sectionFour {
    padding-top: 50px !important;
  }
  .services .items .container .row .card {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  body .formArea .container .row {
    margin: 0px !important;
    padding: 0px !important;
    padding-top: 20px !important;
  }
  body .formArea .container .row .firstArea {
    padding: 20px 20px !important;
  }
  body .formArea .container .row .firstArea .hoodB {
    text-align: center !important;
    text-align: -moz-center !important;
  }
  body .formArea .container .row .firstArea .text {
    text-align: center !important;
    text-align: -moz-center !important;
  }
  body .formArea .container .row .secondArea {
    margin-top: 20px !important;
    padding: 40px 20px !important;
  }
  body .formArea .container .row .secondArea p {
    text-align: center !important;
    text-align: -moz-center !important;
  }
  body .formArea .container .row .secondArea a {
    text-align: center !important;
    text-align: -moz-center !important;
  }
  body .formArea .container .row .formAreaTwo .hoodArea {
    margin-top: 40px !important;
  }
  body .formArea .container .row .formAreaTwo .hoodArea .hoodS {
    margin-bottom: 0px !important;
  }
  body .formArea .container .row .formAreaTwo .hoodArea .hoodB .hoodBTwo {
    margin-top: 0px !important;
  }
  body .formArea .container .row .formAreaTwo form .inputArea {
    display: block !important;
  }
  body .formArea .container .row .formAreaTwo form .inputArea input {
    width: 100% !important;
    margin: 0px !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
  }
  body .formArea .container .row .formAreaTwo form .mailArea textarea {
    margin: 0px !important;
    margin-top: 10px !important;
    width: 100%;
  }
  body .formArea .container .row .formAreaTwo form .buttonArea {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  body .contactUsArea {
    background-repeat: no-repeat;
    background-origin: revert;
    background-size: cover;
    background-position: top;
  }
  body .contactUsArea .container {
    text-align: -webkit-center;
  }
  body .contactUsArea .container .row .textArea .hoodB {
    font-size: 20px !important;
  }
  body .contactUsArea .container .row .textArea .hoodS {
    font-size: 14px !important;
  }
  body .contactUsArea .container .row .contactButtonArea {
    text-align: center;
    text-align: -moz-center !important;
    margin-top: 24px !important;
  }
  .aboutUsMainArea .aboutUsSOne .container .row .textArea {
    margin-top: 20px !important;
  }
  .aboutUsMainArea .aboutUsSOne .container .row .textArea .hoodBTwo {
    margin-bottom: 10px !important;
  }
  .aboutUsMainArea .aboutUsSTwo .container-fluid .row .firstArea {
    background-position: center center !important;
  }
  .aboutUsMainArea .aboutUsSTwo .container-fluid .row .secondArea {
    background-position: center center !important;
  }
  .services .sectionFour {
    padding-top: 50px !important;
  }
}

@media (max-width: 576px) {
  body .contactUs .hoodArea {
    width: 300px !important;
  }
  body .contactUs .hoodArea .line {
    width: 160px !important;
  }
  body .contactUs .hoodArea .hoodB {
    font-size: 32px !important;
    line-height: 36px !important;
  }
  body .contactUs .hoodArea .hoodS {
    font-size: 16px !important;
  }
  body .formArea .container .row {
    padding: 10px !important;
  }
  .aboutUsMainArea .aboutus .hoodArea {
    width: 300px !important;
  }
  .aboutUsMainArea .aboutus .hoodArea .line {
    width: 176px;
  }
  .aboutUsMainArea .aboutus .hoodArea .hoodB {
    font-size: 32px !important;
    line-height: 36px !important;
  }
  .aboutUsMainArea .aboutus .hoodArea .hoodS {
    font-size: 16px !important;
  }
  .services .servicesHeader .hoodArea .container .row {
    width: 300px !important;
  }
  .services .servicesHeader .hoodArea .container .row .line {
    width: 130px !important;
  }
  .services .servicesHeader .hoodArea .container .row .hoodB {
    font-size: 32px !important;
    line-height: 36px !important;
  }
  .services .servicesHeader .hoodArea .container .row .hoodS {
    font-size: 16px !important;
  }
  .services .prices .container .row .pricesHoods .hoodS {
    font-size: 14px;
  }
  .services .prices .container .row .pricesHoods .hoodB {
    font-size: 28px;
  }
  .services .prices .container .row .pricesArea .textArea {
    padding: 15px 20px;
  }
  .services .prices .container .row .pricesArea .textArea p {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  header .content {
    width: 350px !important;
  }
  header .content .hood {
    font-size: 32px !important;
    line-height: 36px !important;
  }
  header .content .hoodTwo {
    font-size: 16px !important;
    margin: 0px 0px !important;
    margin-top: 20px !important;
  }
  header .content .HeaderButtons {
    display: block !important;
  }
  header .content .HeaderButtons .BookOfButton {
    margin: 20px 0px !important;
  }
  header .content .HeaderButtons .ContactButton {
    margin-left: 0px !important;
  }
  footer {
    padding-top: 0px;
    background-image: url("../img/footer.png");
    color: white;
  }
  footer .container .firstArea .mailArea img {
    width: 18px !important;
    height: 12px;
  }
  footer .container .firstArea .mailArea p {
    font-size: 14px !important;
  }
  footer .container .firstArea .telArea a {
    font-size: 12px !important;
  }
  footer .container .firstArea .telArea a img {
    width: 14px !important;
  }
  .items .container .row .col-md-6 .card {
    width: 100% !important;
  }
  .sectionTwo {
    background-image: none !important;
  }
}
/*# sourceMappingURL=main.css.map */